<%=provide(:title, " Chi  Siamo, smart city, portale di idee") %>
<%=provide(:description, "nasce con l’obiettivo di creare un ambiente virtuale di condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per dare una svolta INTELLIGENTE al nostro territorio.")%>
<div id="single">
      <div class="container">
        <div class="post">

          <div class="caption">
            <div class="header">
              <img src="/assets/avatar_tatta.png" class="avatar img-circle" />
              <h1>Chi Siamo</h1>
            </div>

<strong>SMART GIOIOSA</strong>
<p>Il progetto Smart Gioiosa nasce con l’obiettivo di creare un ambiente virtuale di
condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per
dare una svolta INTELLIGENTE al nostro paese.</p>

<strong>COSÈ UNA SMART CITY?</strong>
<p>
Il concetto di Smart City può assumere diversi significati a seconda degli aspetti
su cui si voglia porre l’attenzione, ad esempio si può considerare l’ambito
urbanistico, quello energetico, quello eno-gastronomico, quello culturale, ecc.,
in modo che ogni singola IDEA SMART porti ad un miglioramento della vita di un
comune.
</p>
<blockquote>
<p>
Sarebbe interessante poter gestire questa idea come un blog all’interno del quale
ognuno di noi possa inserire le proprie idee e mandarle avanti per far crescere la
nostra comunità. 
</p>
</blockquote>
<strong><p>Smart Gioiosa ha molteplici sviluppi, per questo non vorrei che fosse solo uno
strumento software.</p></strong>
<p>Da parte mia, con Smart Gioiosa vorrei mettere a disposizione della comunità le mie
conoscenze maturate in ambito lavorativo e universitario per lo sviluppo di
sistemi intelligenti, creando eventi di programmazione (workshop) dove io in
prima persona spiego come realizzare un’App in tempo reale; tutto questo sarà possibile grazie all'appoggio della  comunità di sviluppo web <a href="http://sicilyonrails.org">Sicily on Rails</a>
</p>
<strong><p>Smart Gioiosa è aperta a tutti, dove tutti possono partecipare a prescindere dalle proprie conoscenze. </p><strong>
<br>
<hr>
<strong><p><i>Antonino Scaffidi Chiarello</i></p></strong>
<!--
La prima applicazione che vorrei creare deve essere in grado di aiutare qualsiasi
utilizzatore a trovare velocemente prodotti tipici, servizi, eventi, monumenti,
ecc. della nostra comunità e dei comuni limitrofi; una volta effettuata la ricerca,
bisogna che l’applicazione indichi il percorso da seguire in base alla posizione
dell’utente e ai feedback rilasciati dagli altri utilizzatori.
-->
      </div>
        </div>

      </div>

    </div>
