<%=provide(:title, " Chi  Siamo, <i>smart</i> city, portale di idee") %>
<%=provide(:description, "nasce con l’obiettivo di creare un ambiente virtuale di condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per dare una svolta INTELLIGENTE al nostro territorio.")%>
<section class="bg-page-header">
	<div class="page-header-overlay">
		<div class="container">
			<div class="row">
				<div class="page-header">
					<div class="page-title">
						<h2>CHI SIAMO</h2>
					</div><!-- .page-title -->
					<div class="page-header-content">
						<ol class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li>CHI SIAMO</li>
						</ol>
					</div><!-- .page-header-content -->
				</div><!-- .page-header -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .page-header-overlay -->
</section>

	<!-- Start About Greenforest Section -->

	<section class="bg-about-greenforest">
		<div class="container">
			<div class="row">
				<div class="about-greenforest">
					<div class="row">
						<div class="col-md-8">
							<div class="about-greenforest-content">
								<h2>Chi Siamo</h2>
								<p class="text-justify">Smart Gioiosa è un progetto nato nel 2015 con l’obiettivo di creare un ambiente virtuale di condivisione di idee da parte di tutti i soggetti che vogliono mettersi in gioco per dare una svolta intelligente, <i>smart</i> al proprio territorio. Dal punto di vista pratico Smart Gioiosa si è articolato, in un primo momento, come blog all’interno del quale ognuno può proporre delle idee e cercare di svilupparle per far crescere la propria comunità nei diversi ambiti: urbanistico, energetico, enogastronomico e turistico-culturale, in modo che ogni singola idea <i>smart</i> porti ad un miglioramento della vita comune. <br>Intorno al progetto Smart Gioiosa si è sviluppata una <i>community</i> di giovani professionisti che hanno deciso di mettere in campo le proprie competenze per portare avanti un progetto di sviluppo sostenibile, condiviso e <i>smart</i> del territorio.
Ad ottobre 2016, si costituisce ufficialmente l’Associazione Smart Gioiosa che, nello stesso mese lancia la prima<i> Call for Proposals “Smart Gioiosa: concorso di idee per la realizzazione di <i>smart</i> cities nel territorio dei Nebrodi”</i>, indetta allo scopo di promuovere lo sviluppo di idee in materia di <i>smart</i> cities per una crescita intelligente delle comunità dei Nebrodi. La logica sottesa allo sviluppo delle idee presentate deve essere quella che dal problema conduce alla soluzione: non semplici idee, ma soluzioni nuove e creative, a problemi presenti e futuri del territorio.
Il blog Smart Gioiosa è aperto a tutti coloro i quali vogliono contruibire con idee e articoli ad un confronto costruttivo e propositivo.
</p>
<p class="quate-para">Con il progetto Smart Gioiosa mi sono proposto di mettere a disposizione della comunità le mie conoscenze maturate in ambito lavorativo e universitario per lo sviluppo di sistemi intelligenti che possono portare alla risoluzione di problemi e al miglioramento della vita della collettività. La parola chiave che ha guidato le mie scelte è “condivisione”, perché le grandi idee sono il frutto di un approccio condiviso e collaborativo tra i soggetti coinvolti.</p>
<p class="text-right"><i>Antonino Scaffidi Chiarello</i></p>

							</div><!-- .about-greenforest-content -->
						</div><!-- .col-md-8 -->
						<div class="col-md-4">
							<div class="about-greenforest-img">
								<img src="/assets/home02/about-greenforet-img.jpg" alt="about-greenforet-img" class="img-responsive" />
							</div><!-- .about-greenforest-img -->
						</div><!-- .col-md-4 -->
					</div>
				</div><!-- .about-greenforest -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>


	<!-- End About Greenforest Section -->
  <%= render 'home/team'%>
