<%=provide(:title, " Chi  Siamo, smart city, portale di idee") %>
<%=provide(:description, "nasce con l’obiettivo di creare un ambiente virtuale di condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per dare una svolta INTELLIGENTE al nostro territorio.")%>

<section class="hgroup">
          <div class="container">
               <h1>Chi Siamo</h1>
               <!--<h2>This is the <strong>collapsing header version</strong> of the about us page. The effect is achieved by assigning the "collapsing_header" class on the "body" tag. There is also the <a href="page_alternative.html">contained, plain style version</a></h2>-->
               <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a> </li>
                    <li class="active">Chi Siamo</li>
               </ul>
          </div>     
     </section>
<section class="article-text">
     <div class="container">
          <div class="row">
               <div class="col-sm-8 col-md-8">
                    <p>Il progetto Smart Gioiosa nasce nel 2015 con l’obiettivo di creare un ambiente virtuale di condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per dare una svolta "intelligente" (smart) al nostro paese. Idee innovative ma allo stesso tempo semplici e in grado di essere utilizzate da tutti. Così, per stimolare la condivisione e il dibattito sui temi delle smart city è nato il blog Smart Gioiosa attorno al quale, a settembre del 2016, si è sviluppata una community di giovani professionisti che per dare maggiore concretezza al progetto, diffonderlo e realizzarlo, si sono formalizzati in <strong>ASSOCIAZIONE</strong> a ottobre 2016. </p>

                    <p>Per incidere maggiormente sul territorio, anche al di fuori di ambienti specialistici e oltre i confini comunali, abbiamo lanciato la prima call for proposals per la realizzazione di smart cities nel comprensorio dei Nebrodi. Una sorta di concorso di idee, ma più articolato, e caratterizzato dalla possibilità concreta di attuare le proposte vincitrici grazie ad un ampio partenariato altamente qualificato e interessato ai temi proposti.</p>
<strong><p>Smart Gioiosa è aperta a tutti, dove tutti possono partecipare a prescindere dalle proprie conoscenze. </p></strong>
<br>
<strong><p><i><%= link_to "Il Team Smart Gioiosa",team_path %></i></p></strong>
<hr>
                    <!--<p><img src="images/clients/jquery.jpg" width="140" height="70" alt="jquery"></p>-->
                    <blockquote>
                         <p>Da parte mia, con Smart Gioiosa vorrei mettere a disposizione della comunità le mie
conoscenze maturate in ambito lavorativo e universitario per lo sviluppo di
sistemi intelligenti, creando eventi di programmazione (workshop) dove io in
prima persona spiego come realizzare un’App in tempo reale; tutto questo sarà possibile grazie all'appoggio della  comunità di sviluppo web <a href="http://sicilyonrails.org">Sicily on Rails</a>.
</p>
                         <small>Antonino Scaffidi Chiarello</small> </blockquote>
               </div>
               <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(/assets/avatar_tatta.png)"></figure>
                         </div>
                          <!--
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Teaser</b>Element<small>has many styles!</small></h2>
                              <a class="btn btn-primary" href="documentation/index.html">Just teasing you &nbsp; <i class="fa fa-code-fork"></i></a> </div>-->
                    </div>
               </div>
          </div>
     </div> 


    <!--    
     </section>
     <section class="call_to_action"> <img alt="responsive" src="images/star.png">
          <div class="container">
               <h3>give your creative ideas a boost</h3>
               <h4>mouse over our team photos to see a cool effect!</h4>
          </div>     
     </section>
-->




<!--
<div id="single">
      <div class="container">
        <div class="post">

          <div class="caption">
            <div class="header">
              <img src="/assets/avatar_tatta.png" class="avatar img-circle" />
              <h1>Chi Siamo</h1>
            </div>

<strong>ASSOCIAZIONE SMART GIOIOSA</strong>

<p>Il progetto Smart Gioiosa nasce nel 2015 con l’obiettivo di creare un ambiente virtuale di condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per dare una svolta "intelligente" (smart) al nostro paese. Idee innovative ma allo stesso tempo semplici e in grado di essere utilizzate da tutti. Così, per stimolare la condivisione e il dibattito sui temi delle smart city è nato il blog Smart Gioiosa attorno al quale, a settembre del 2016, si è sviluppata una community di giovani professionisti che per dare maggiore concretezza al progetto, diffonderlo e realizzarlo, si sono formalizzati in <strong>ASSOCIAZIONE</strong> a ottobre 2016</p>.

<p>Per incidere maggiormente sul territorio, anche al di fuori di ambienti specialistici e oltre i confini comunali, abbiamo lanciato la prima call for proposals per la realizzazione di smart cities nel comprensorio dei Nebrodi. Una sorta di concorso di idee, ma più articolato, e caratterizzato dalla possibilità concreta di attuare le proposte vincitrici grazie ad un ampio partenariato altamente qualificato e interessato ai temi proposti.</p>
<strong><p>Smart Gioiosa è aperta a tutti, dove tutti possono partecipare a prescindere dalle proprie conoscenze. </p></strong>
<br>
<strong><p><i><#%= link_to "Il Team Smart Gioiosa",team_path %></i></p></strong>


<p>Il progetto Smart Gioiosa nasce con l’obiettivo di creare un ambiente virtuale di
condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per
dare una svolta INTELLIGENTE al nostro paese.</p>

<strong>COSÈ UNA SMART CITY?</strong>
<p>
Il concetto di Smart City può assumere diversi significati a seconda degli aspetti
su cui si voglia porre l’attenzione, ad esempio si può considerare l’ambito
urbanistico, quello energetico, quello eno-gastronomico, quello culturale, ecc.,
in modo che ogni singola IDEA SMART porti ad un miglioramento della vita di un
comune.
</p>
<blockquote>
<p>
Sarebbe interessante poter gestire questa idea come un blog all’interno del quale
ognuno di noi possa inserire le proprie idee e mandarle avanti per far crescere la
nostra comunità. 
</p>
</blockquote>
<strong><p>Smart Gioiosa ha molteplici sviluppi, per questo non vorrei che fosse solo uno
strumento software.</p></strong>
<hr>
<i>
<p>Da parte mia, con Smart Gioiosa vorrei mettere a disposizione della comunità le mie
conoscenze maturate in ambito lavorativo e universitario per lo sviluppo di
sistemi intelligenti, creando eventi di programmazione (workshop) dove io in
prima persona spiego come realizzare un’App in tempo reale; tutto questo sarà possibile grazie all'appoggio della  comunità di sviluppo web <a href="http://sicilyonrails.org">Sicily on Rails</a>
</p>
</i>
<br>
<strong><p><i>Antonino Scaffidi Chiarello - Founder Smart Gioiosa</i></p></strong>

La prima applicazione che vorrei creare deve essere in grado di aiutare qualsiasi
utilizzatore a trovare velocemente prodotti tipici, servizi, eventi, monumenti,
ecc. della nostra comunità e dei comuni limitrofi; una volta effettuata la ricerca,
bisogna che l’applicazione indichi il percorso da seguire in base alla posizione
dell’utente e ai feedback rilasciati dagli altri utilizzatori.
      </div>
        </div>

      </div>

    </div>
-->
