<div id="single">

      <div class="container">

        <div class="post">

          <div class="caption">
            <div class="header">
              <img src="/assets/avatar_tatta.png" class="avatar img-circle" />

              <h1>Chi Siamo</h1>
            </div>

            SMART GIOIOSA<br>
Il progetto Smart Gioiosa nasce con l’obiettivo di creare un ambiente virtuale di
condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per
dare una svolta INTELLIGENTE al nostro paese.
Smart Gioiosa nasce originariamente come un’estrazione di un lavoro di Smart
City molto complesso e articolato dal nome di WICITY per la città di Catania, in
cui io mi occupo dell’interazione tra software e utente, attraverso sistemi di
rating (votazioni) su servizi, attività e altro.


<br>
COSÈ UNA SMART CITY?<br>
Il concetto di Smart City può assumere diversi significati a seconda degli aspetti
su cui si voglia porre l’attenzione, ad esempio si può considerare l’ambito
urbanistico, quello energetico, quello eno-gastronomico, quello culturale, ecc.,
in modo che ogni singola IDEA SMART porti ad un miglioramento della vita di un
comune.
Sarebbe interessante poter gestire questa idea come un blog all’interno del quale
ognuno di noi possa inserire le proprie idee e mandarle avanti per far crescere la
nostra comunità. Da parte mia, vorrei adottare questo concetto a livello
informatico sviluppando un applicativo per Gioiosa Marea e il suo Interland.
Smart Gioiosa ha molteplici sviluppi, per questo non vorrei che fosse solo uno
strumento software, ma piuttosto una comunità di sviluppo web che si appoggi su
SICILY ON RAILS, che è stata la prima comunità a nascere in Sicilia, in modo tale
da potersi confrontare e portare avanti idee.
Con Smart Gioiosa vorrei mettere a disposizione della comunità le mie
conoscenze maturate in ambito lavorativo e universitario per lo sviluppo di
sistemi intelligenti, creando eventi di programmazione (workshop) dove io in
prima persona spiego come realizzare un’App in tempo reale.
La prima applicazione che vorrei creare deve essere in grado di aiutare qualsiasi
utilizzatore a trovare velocemente prodotti tipici, servizi, eventi, monumenti,
ecc. della nostra comunità e dei comuni limitrofi; una volta effettuata la ricerca,
bisogna che l’applicazione indichi il percorso da seguire in base alla posizione
dell’utente e ai feedback rilasciati dagli altri utilizzatori.
Smart Gioiosa è aperta a tutti, un’applicazione gioiosana sviluppata da gioiosani,
dove tutti possono partecipare a prescindere dalle proprie conoscenze.
<br>
Smart Gioiosa è appoggiata da:<br>
-
Dipartimento di ingegneria informatica dell’università degli studi di Catania,
tramite la comunità SICILY ON RAILS
-
Comune di Gioiosa Marea
Smart Gioiosa è sponsorizzata da:
- ASCFOOTWEAR di Antonino Scaffidi Chiarello;
- Centro Estetico Filippa;
- ASCWEBAPPS di Antonino Scaffidi Chiarello
Smart Gioiosa è composta attualmente da:
- Antonino Scaffidi Chiarello
- Alessandro Scaffidi Chiarello
- Alessandro Lamonica Miraglio
- Ing. Verdiana Granata

Antonino Scaffidi Chiarello



          </div>
        </div>

      </div>

    </div>
