<%= content_for :title, "GARA PODISTICA MEMORIAL FEDERICO AMATO"%>
<%= content_for :description, "AVIS GIOIOSA MAREA - GARA PODISTICA MEMORIAL FEDERICO AMATO " %>
<%= content_for :image, "/assets/memorial/mappa.png"%>


<!-- Start Page Header Section -->

      <section class="bg-page-header">
          <div class="page-header-overlay">
              <div class="container">
                  <div class="row">
                      <div class="page-header">
                          <div class="page-title">
                              <h2>GARA PODISTICA - MEMORIAL FEDERICO AMATO</h2>
                          </div>
                          <!-- .page-title -->
                          <div class="page-header-content">
                              <ol class="breadcrumb">
                                  <li><a href="/">Home</a></li>
                                  <li>Gara Podistica - Memorial Federico Amato</li>
                              </ol>
                          </div>
                          <!-- .page-header-content -->
                      </div>
                      <!-- .page-header -->
                  </div>
                  <!-- .row -->
              </div>
              <!-- .container -->
          </div>
          <!-- .page-header-overlay -->
      </section>


      <!-- End Page Header Section -->


      <!-- Start Recent Project Section -->


      <section class="bg-single-recent-project">
          <div class="container">
              <div class="row">
                  <div class="recent-project">
                      <div id="filters" class="button-group ">
                          <button class="button is-checked" data-filter="*">show all</button>
                          <button class="button" data-filter=".percorso">Il percorso</button>
                          <button class="button" data-filter=".promotori">I promotori</button>
                          <button class="button" data-filter=".sponsors">Gli sponsors</button>
                          <button class="button" data-filter=".poi">Cosa Vedere a Gioiosa Marea</button>
                      </div>
                      <div class="portfolio-items">
                          <div class="item percorso" data-category="transition">
                              <div class="item-inner">
                                  <div class="portfolio-img">
                                      <div class="overlay-project"></div>
                                      <!-- .overlay-project -->
                                      <img src="/assets/memorial/mappa.png" alt="recent-project-img-1">
                                      <ul class="project-link-option">
                                          <li class="project-link"><a href="/memorial-federico-amato/percorso"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                          <!--<li class="project-search"><a href="assets/images/home02/recent-project-img-1.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>-->
                                      </ul>
                                  </div>
                                  <!-- /.portfolio-img -->
                                  <div class="recent-project-content">
                                      <h4><a href="/memorial-federico-amato/percorso">Percorso della gara</a></h4>
                                      <!--<p>By : <span><a href="#">Green Forest</a></span></p>-->
                                  </div>
                                  <!-- .latest-port-content -->
                              </div>
                              <!-- .item-inner -->
                          </div>
                          <!-- .items -->


                          <div class="item promotori" data-category="transition">
                              <div class="item-inner">
                                  <div class="portfolio-img">
                                      <div class="overlay-project"></div>
                                      <!-- .overlay-project -->
                                      <img src="/assets/memorial/promotori.png" alt="recent-project-img-1">
                                      <ul class="project-link-option">
                                          <li class="project-link"><a href="/memorial-federico-amato/promotori"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                          <!--<li class="project-search"><a href="assets/images/home02/recent-project-img-1.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>-->
                                      </ul>
                                  </div>
                                  <!-- /.portfolio-img -->
                                  <div class="recent-project-content">
                                      <h4><a href="/memorial-federico-amato/promotori">I promotori dell'evento</a></h4>
                                      <!--<p>By : <span><a href="#">Green Forest</a></span></p>-->
                                  </div>
                                  <!-- .latest-port-content -->
                              </div>
                              <!-- .item-inner -->
                          </div>
                          <!-- .items -->


                          <div class="item sponsors" data-category="transition">
                              <div class="item-inner">
                                  <div class="portfolio-img">
                                      <div class="overlay-project"></div>
                                      <!-- .overlay-project -->
                                      <img src="/assets/memorial/sponsors.png" alt="recent-project-img-1">
                                      <ul class="project-link-option">
                                          <li class="project-link"><a href="/memorial-federico-amato/sponsors"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                          <!--<li class="project-search"><a href="assets/images/home02/recent-project-img-1.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>-->
                                      </ul>
                                  </div>
                                  <!-- /.portfolio-img -->
                                  <div class="recent-project-content">
                                      <h4><a href="/memorial-federico-amato/sponsors">Gli sponsors dell'evento</a></h4>
                                      <!--<p>By : <span><a href="#">Green Forest</a></span></p>-->
                                  </div>
                                  <!-- .latest-port-content -->
                              </div>
                              <!-- .item-inner -->
                          </div>
                          <!-- .items -->

                          <div class="item poi" data-category="transition">
                              <div class="item-inner">
                                  <div class="portfolio-img">
                                      <div class="overlay-project"></div>
                                      <!-- .overlay-project -->
                                      <img src="/assets/memorial/ttatta.png" alt="recent-project-img-1">
                                      <ul class="project-link-option">
                                          <li class="project-link"><a href="http://www.ttattago.it/"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                          <!--<li class="project-search"><a href="assets/images/home02/recent-project-img-1.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>-->
                                      </ul>
                                  </div>
                                  <!-- /.portfolio-img -->
                                  <div class="recent-project-content">
                                      <h4><a href="http://www.ttattago.it/">Cosa vedere a Gioiosa Marea by(TTattà Go)</a></h4>
                                      <!--<p>By : <span><a href="#">Green Forest</a></span></p>-->
                                  </div>
                                  <!-- .latest-port-content -->
                              </div>
                              <!-- .item-inner -->
                          </div>
                          <!-- .items -->



                      </div>

                  </div>
                  <!-- .recent-project -->
              </div>
              <!-- .row -->
          </div>
          <!-- .container -->
      </section>
