<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
<<%= content_for :title, "GARA PODISTICA MEMORIAL FEDERICO AMATO"%>
<%= content_for :description, "AVIS GIOIOSA MAREA - GARA PODISTICA MEMORIAL FEDERICO AMATO " %>
<%= content_for :image, "/assets/memorial/mappa.png"%>


	<section class="bg-page-header">
		<div class="page-header-overlay">
			<div class="container">
				<div class="row">


					<div class="page-header">
						<div class="page-title">
							<h2>Percorso Gara Podistica "Memorial Federico Amato"</h2>
						</div><!-- .page-title -->
						<div class="page-header-content">
							<ol class="breadcrumb">
								<li><a href="/">Home</a></li>
                <li><a href="/memorial-federico-amato"> Memorial Federico Amato</a></li>
                <li>percorso</li>
							</ol>
						</div><!-- .page-header-content -->
					</div><!-- .page-header -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .page-header-overlay -->
	</section>


	<!-- End Page Header Section -->


	<!-- Start Recent Project Section -->


	<section class="bg-single-project">
		<div class="container">
			<div class="row">
				<div class="single-project">

					<div class="row">
						<div class="col-md-12">

              <p class="text-center">
                Il Comitato Provinciale della F.I.D.A.L., con la Polisportiva Europa di Messina, l'AVIS di Gioiosa Marea e con il patrocinio del Città di Gioiosa Marea, organizzano la Prima Edizione della Gara Podistica "Memorial Federico Amato".
      La competizione si terrà il 14 Ottobre 2018 a Gioiosa Marea.

      L'iniziativa nasce per promuovere una giornata di aggregazione sportiva sul territorio e dalla volontà dei membri dell'AVIS di Gioiosa Marea di conservare e condividere la passione per lo sport dell'amico a cui è dedicata la manifestazione.

      Per questo evento un unico motto "Le persone incredibili non diventano incredibili per caso".

              </p>
              <h4 class="text-center"></h4>
               <p class="text-center">

              <br>


              <p class="text-center">
                <div class="google-maps">

                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1AIvwhzaY2oNNZDYgRpf3VLGgBlLn2KpT" width="960" height="480"></iframe>
              </div>


              </p>

							<div class="single-pro-main-content">
								<div class="row">
								<div class="col-md-12">
                  <h2 class="text-center">Dettagli percorso</h2>
                  <br>
									<ul class="single-left-content">

                    <li>
                      <h4>Partenza/Arrivo</h4>
											<p>Di fronte circolo Roma</p>
										</li>
										<li>
                      <h4>Via Umbero I°</h4>
											<p>Percorri la Via Umberto I° e svolta a destra  in Via Vincenzo Bellini </p>
										</li>
										<li>
											<h4>Via Vincenzo Bellini</h4>
											<p>Percorri la via Vincenzo Bellini, dopo svolta a destra e prendi Via G. Natoli Gatto.</p>
										</li>
										<li>
											<h4>Via G. Natoli Gatto</h4>
											<p>Percorri la Via G. Natoli Gatto, dopo svolta a destra e prendi Via Peculio.</p>
										</li>
                    <li>
                      <h4>Via Giulio Forzano</h4>
                      <p>Continua sulla Via Giulio Forzano, svolta a sinistra e prendi la via Giuseppe Mazzini</p>
                    </li>
                     <li>
                      <h4>Via Giuseppi Mazzini</h4>
                      <p>Percorri la via Giuseppe Mazzini fino alla Piazza Camillo Benso Conte di Cavour</p>
                    </li>

                    <li>
                     <h4>Piazza Cavour - Tratto Via Convento</h4>
                     <p>Svolta a destra e prendi la Via Galliani</p>
                   </li>

                   <li>
                    <h4>Via Galliani</h4>
                    <p>Percorri la via Galliani, svolta a sinistra e prendi la Via Vittorio Emanuele</p>
                  </li>

                  <li>
                   <h4>Via Vittorio Emanuele</h4>
                   <p>Percorri la via Vittorio Emanuele e continua sulla via Luigi Prandello</p>
                 </li>


                 <li>
                  <h4>Via Luigi Pirandello</h4>
                  <p>Corri sulla via Luigi Pirandello fino ad immetterti sulla via Piemonte</p>
                </li>

                <li>
                 <h4>Via Piemonte</h4>
                 <p>Continua sulla via Piemonte e svolta a destra all'incrocio con la via Lombardia</p>
               </li>


               <li>
                <h4>Via Lombardia</h4>
                <p>Continua sulla via Lombardia e svolta a destra all'incrocio con la via Umberto I° </p>
              </li>

              <li>
               <h4>Via Umberto I°</h4>
               <p>Percorri la via Umberto I° fino all'arrivo(di fronte Circolo Roma)</p>
             </li>




									</ul>
								</div><!-- .col-md-12 -->


              </div><!-- .col-row -->
							</div>

						</div><!-- .single-proj-main-content -->
					</div><!-- .col-md-12 -->

					</div><!-- .row -->
				</div><!-- .single-project -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>


	<!-- End Recent Project Section -->
<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: '<%= request.url%>',
    }, function(response){});
}
</script>
