<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
<<%= content_for :title, "GARA PODISTICA MEMORIAL FEDERICO AMATO"%>
<%= content_for :description, "AVIS GIOIOSA MAREA - GARA PODISTICA MEMORIAL FEDERICO AMATO " %>
<%= content_for :image, "/assets/memorial/sponsors.png"%>


	<section class="bg-page-header">
		<div class="page-header-overlay">
			<div class="container">
				<div class="row">


					<div class="page-header">
						<div class="page-title">
							<h2>Percorso Gara Podistica "Memorial Federico Amato"</h2>
						</div><!-- .page-title -->
						<div class="page-header-content">
							<ol class="breadcrumb">
								<li><a href="/">Home</a></li>
                <li><a href="/memorial-federico-amato"> Memorial Federico Amato</a></li>
                <li>Promotori</li>
							</ol>
						</div><!-- .page-header-content -->
					</div><!-- .page-header -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .page-header-overlay -->
	</section>


	<!-- End Page Header Section -->


	<!-- Start Recent Project Section -->


	<section class="bg-single-project">
		<div class="container">
			<div class="row">
				<div class="single-project">

					<div class="row">
						<div class="col-md-12">

              <h2 class="text-center">
                "Sponsors dell'evento "Gara Podistica - Memorial Federico Amato"".

              </h2>
              <h4 class="text-center"></h4>
               <p class="text-center">

              <br>


              <p class="text-center">
                <div class="google-maps">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Oj5cY3i-Dr3fGtPie9gumP03lGIP3pWn"  width="960" height="480"></iframe>
              </div>


              </p>

							<div class="single-pro-main-content">
								<div class="row">
								<div class="col-md-12">
                  <h2 class="text-center">Dettagli</h2>
                  <br>
									<ul class="single-left-content">

                    <li>
                      <h4>Consorzio Stabile Vitruvio S.c.a.r.l.</h4>
											<p>Gioiosa Marea (Me), Località Licari, 37, 98063 - Roma Via Merulana, 99 – 00185, Email: info@consorziovitruvio.it</p>
										</li>
										<li>
                      <h4>Irritec S.p.A.</h4>
											<p>Via Industriale sn, 98070, Rocca di Caprileone (Me) – Italy, Tel: +39 0941 922 111, www.irritec.it, Email: media@irritec.com </p>
										</li>
										<li>
											<h4>TH Resort – Capo Calavà Village</h4>
											<p>C.da Calavà, 13, Gioiosa Marea, 98063 (Me), Tel: 049 2956411/ 0941302501, www.th-resorts.com, Email: info@th-resorts.com</p>
										</li>
										<li>
											<h4>Cantine Amato</h4>
											<p>Contrada Sant’Ignazio, 34, Piraino, 98060, ME, Tel: 094138091, www.cantineamato.com, Email: info@cantineamato.com</p>
										</li>
                    <li>
                      <h4>T.R. Edil</h4>
                      <p>Via della Regione Siciliana, Piraino, 98060, ME, 336 400 823, Email: t.r.edilsrl@virgilio.it</p>
                    </li>
                     <li>
                      <h4>Fo.Bi.Al. S.r.l.</h4>
                      <p>Via Sicilia, 11, San Giorgio di Gioiosa Marea, 98063, ME, Tel 094139201</p>
                    </li>

                    <li>
                     <h4>Pasticceria Capizzi</h4>
                     <p>Via Umberto I, 162, Gioiosa Marea, 98063, ME, Tel: 0941 301016</p>
                   </li>

                   <li>
                    <h4>Sicilia Bio Natura</h4>
                    <p>www.siciliabionatura.com, Tel:+39 345 712 03 93, Email:info@siciliabionatura.com</p>
                  </li>

                  <li>
                   <h4>SiLegno Più</h4>
                   <p>Contrada Ponte Zona Industriale, 98066 - Patti ME, Tel: +39 0941 249701, www.silegnopiu.it, Email: info@silegnopiu.it</p>
                 </li>

                 <li>
                  <h4>Salumificio Starvaggi</h4>
                  <p>C/da Piano Croce, 34, Sant'Angelo di Brolo, 98060, ME, Tel: 0941 533740</p>
                </li>

                <li>
                 <h4>Conad</h4>
                 <p>Via Sicilia 9, Gioiosa Marea, 98063, ME, Tel: 0941 39559, Email: t.lisciandro@tin.it</p>
               </li>


               <li>
                <h4>Sidis</h4>
                <p>Via Mazzini, 44, Gioiosa Marea, 98063, ME, Tel: 0941303578</p>
              </li>

              <li>
               <h4>Supermercati Decò</h4>
               <p>Via Umberto I, 24, Gioiosa marea, 98063, ME, Tel: 0941 301729</p>
             </li>

             <li>
              <h4>SISA</h4>
              <p>Via Liguria, 6A, Gioiosa Marea, 98063, ME, 0941 302604</p>
            </li>



            <li>
             <h4>Ristorante L'Orizzonte</h4>
             <p>Contrada Schino, 17c, Gioiosa marea, 98063, ME, Tel: 0941 302153</p>
           </li>

           <li>
            <h4>Ristorante-Pizzeria La Piazzetta</h4>
            <p>P.zza G. Natoli Gatto 4, Gioiosa Marea, 98063, ME, Tel: 0941 302940</p>
          </li>

          <li>
           <h4>Ristorante-Pizzeria Rendez-Vous</h4>
           <p>Via umberto I, 30, Gioiosa Marea, 98063, ME, Tel: 0941 302343</p>
         </li>

            <li>
              <h4>La Galia Mobili</h4>
              <p>Via Umberto I,161, Gioiosa Marea, 98063, ME, Tel: 0941 301904</p>
            </li>

              <li>
                <h4>Scaffidi Calzature</h4>
                <p>Via Umberto I, 237, Gioiosa Marea, 98063, ME, Tel: 0941 301916, www.scaffidicalzature.com</p>
              </li>
                <li>
                  <h4>Azienda Saporito</h4>
                  <p>San Costantino, Contrada Malagotta 8b, Piraino, 98060, ME, Tel: 0941-38157, 338-6406694 / 334-7717495, Email: saporito1950@gmail.com, www.aziendasaporito.it3</p>
                </li>

                    <li>
                     <h4>Ristorante tipico - Pizzeria Costanzo</h4>
                     <p>Contrada San Costantino, 80, Piraino, 98060, ME, Tel: 0941 38261</p>
                   </li>

                   <li>
                    <h4>Salumi San Costantino</h4>
                    <p>C.da Malagotta, 2 A, Gioiosa Marea, 98060, ME, Tel: 339 401 4102, Email: salumisancostantino@gmail.com</p>
                  </li>




									</ul>
								</div><!-- .col-md-12 -->


              </div><!-- .col-row -->
							</div>

						</div><!-- .single-proj-main-content -->
					</div><!-- .col-md-12 -->

					</div><!-- .row -->
				</div><!-- .single-project -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>


	<!-- End Recent Project Section -->
<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: '<%= request.url%>',
    }, function(response){});
}
</script>
