<section class="hgroup centered">
<div class="container">
<h1>PHOTOSMARTCONTEST</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
    </ul>
</div>
</section>
<section>
  <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-12" role="main">
          <%=image_tag('/assets/copertina_evento', class:"img-responsive")%>
          <br>
          <p style="margin-bottom:0.4cm"><span style="line-height:0.07cm"><font face="Arial, serif"><font size="3"><font style="font-size: 12pt">PHOTOSMARTCONTEST2017</font></font></font></span></p>

          <p style="margin-bottom:0.4cm"><span style="line-height:0.07cm"><font face="Arial, serif"><font size="3"><font style="font-size: 12pt">I CONCORSO FOTOGRAFICO</font></font></font></span></p>

          <p style="margin-bottom:0.4cm"><span style="line-height:0.07cm"><font face="Arial, serif"><font size="3"><font style="font-size: 12pt">#TERRAMARE: SCORCI EOLIANI E NEBROIDEI</font></font></font></span></p>

          <p style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt"><b>Partecipa al contest!</b></font></font></font></span></p>

          <p style="margin-bottom:0cm">&nbsp;</p>

          <p style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt"><b>Dal 01/07/2017 al 17/08/2017</b></font></font></font></span></p>

          <p style="margin-bottom:0cm">&nbsp;</p>

          <p style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">Il concorso fotografico si articola in 4 temi:</font></font></font></span></p>

          <p style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">1_borghi/paesi (architettura);</font></font></font></span></p>

          <p style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">2_tra cielo e terra (paesaggi e natura);</font></font></font></span></p>

          <p style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">3_spazi da non perdere (luoghi abbandonati);</font></font></font></span></p>

          <p  style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">4_la terra dei colori (arte, tradizioni e sapori).</font></font></font></span></p>

          <p  style="margin-bottom:0cm">&nbsp;</p>


          	<p  style="margin-left:1.25cm; margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">a) Scatta una foto del tuo tema preferito e pubblicala sul tuo profilo Facebook o Instagram con una breve descrizione;</font></font></font></span></p>


          <p  style="margin-left:2.25cm; margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">- Instagram: sulla foto deve essere taggato Smartgioiosa e la didascalia deve contenere @smargioiosa e #terramare;</font></font></font></span></p>

          <p  style="margin-left:2.25cm; margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">- Facebook: la didascalia deve contenere @smartgioiosa e #terramare</font></font></font></span></p>

          <p  style="margin-left:1.25cm; margin-bottom:0cm">&nbsp;</p>

          <p  style="margin-left:1.25cm; margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">b) La foto deve essere pubblicata dal 15/07/17 e nella didascalia occorrescrivere il numero del tema scelto e una descrizione dello scatto (es.: 1 &ndash; borghi/paesi:text&hellip;);</font></font></font></span></p>

          <p  style="margin-left:1.25cm; margin-bottom:0cm">&nbsp;</p>

          <p  style="margin-left:1.25cm; margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">c) Carica qui a destra la foto che hai pubblicato dal 15/07/17 su Instagram o Facebook e inserisci i dati richiesti per partecipare al contest;</font></font></font></span></p>

          <p  style="margin-left:1.25cm; margin-bottom:0cm">&nbsp;</p>

          <p  style="margin-left:1.25cm; margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">d) Attendi la mail con la conferma di approvazione del tuo contenuto.</font></font></font></span></p>

          <p  style="margin-bottom:0cm">&nbsp;</p>

          <p  style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">Vinceranno gli autori dei 4 scatti (1 per categoria) giudicati dalla giuria popolare pi&ugrave; meritevoli e verranno assegnati i seguenti premi e riconoscimenti:</font></font></font></span></p>

          <p  style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">  - targa di merito e stampa in carta fotografica dello scatto vincente;</font></font></font></span></p>

          <p  style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt">  - 2 biglietti omaggio per l&rsquo;ingresso al Nebrodi Adventure Park &ndash; Longi (ME).</font></font></font></span></p>

          <p  style="margin-bottom:0cm">&nbsp;</p>

          <p  style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt"><b>Le votazioni inizieranno alle ore 00:00 del 01/08/17 e termineranno alle ore 23:59 del 17/08/2017.</b></font></font></font></span></p>

          <p  style="margin-bottom:0cm">&nbsp;</p>

          <p  style="margin-bottom:0cm"><span style="line-height:0.07cm"><font face="Helvetica, serif"><font size="3"><font style="font-size: 12pt"><%= link_to 'Vai al Regolamento completo', '/assets/BANDO_PHOTOSMARTCONTEST.pdf', target:'_blank'%></font></font></font></span></p>

  </div>
</div>
</div>

</section>
