<section class="hgroup centered">
<div class="container">
<h1>PHOTOSMARTCONTEST</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
    </ul>
</div>
</section>
<section>
  <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-12" role="main">
          <%=image_tag('/assets/concorso_fotografico', class:"img-responsive")%>
<h1>PHOTOSMARTCONTEST</h1>
<p>
I° Concorso fotografico #terra_mare: scorci eoliani e nebroidei
<br>
L’Associazione Smart Gioiosa bandisce il I° Concorso fotografico dal titolo: “#terra_mare: scorci eoliani e nebroidei” quale iniziativa di promozione e valorizzazione del territorio siciliano.
<br>
Il concorso è gratuito ed aperto a tutti i fotoamatori, senza limiti di età e nazionalità.<br>
Restate sintonizzati sui nostri canali a breve le news.
<br>
#photo #contest #terra #mare #sicilia #estate #nebrodi #eolie</p>


  </div>
</div>
</div>

</section>
