<section class="hgroup centered">
  <div class="container">
    <h1>Giuria Call For Proposals</h1>
        <ul class="breadcrumb pull-right">
          <li><a href="/">Home</a> </li>
          <li class="active">Giuria Call For Proposals</li>
        </ul>
  </div>
</section>


<section class="service_teasers">
  <div class="container">

  <div class="service_teaser">
      <div class="row">
        <div class="service_photo col-sm-4 col-md-4 ">
          <figure style="background-image:url(/assets/giuria/anna_zampino.jpg)"></figure>
        </div>
        <div class="service_details col-sm-8 col-md-8 wow animated slideInRight">
        <h2 class="section_header skincolored"><b>Anna Zampino</b><small>People | Living</small></h2>
        <p>Dott.ssa Anna Zampino: Psicologo, Psicoterapeuta presso AnffasOnlus Patti</p>

        <!--<a class="btn btn-primary pull-right" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
        </div>
        </div>
      </div>



        <div class="service_teaser right">
            <div class="row">
              <div class="service_details col-sm-8 col-md-8 wow animated slideInLeft">
               <h2 class="section_header skincolored"><b>Marcello Mollica</b><small>People | Living</small></h2>

          <p>Prof. Marcello Mollica: Ricercatore nell’ambito del settore scientifico disciplinare “Discipline Demoetnoantropologiche”,
e di “Diritto
Internazionale” all’Università di Pisa</p>
                <!--<a class="btn btn-primary pull-left" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
                  </div>
                       <div class="service_photo col-sm-4 col-md-4">
                            <figure style="background-image:url(/assets/giuria/marcello_mollica.jpg)"></figure>

                       </div>
                  </div>
             </div>


       <div class="service_teaser">
         <div class="row">
           <div class="service_photo col-sm-4 col-md-4">
             <figure style="background-image:url(/assets/giuria/pietro_lanzafame.png)"></figure>
           </div>
           <div class="service_details col-sm-8 col-md-8 wow animated slideInRight">
           <h2 class="section_header skincolored"><b>Pietro Lanzafame</b><small>People | Living</small></h2>
           <p>Ing. Pietro Lanzafame: Ingegnere elettronico e Dottore di ricerca in Scienze Neurobiologiche ; Amministratore e Legale Rappresentante di Agoghè Innovazione Sociale</p>

           <!--<a class="btn btn-primary pull-right" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
           </div>
           </div>
         </div>



           <div class="service_teaser right">
               <div class="row">
                 <div class="service_details col-sm-8 col-md-8 wow animated slideInLeft">
                  <h2 class="section_header skincolored"><b>Francesco Cappello</b><small>Ambiente | Energia</small></h2>

             <p>Ing. Francesco Cappello - PRESIDENTE GIURIA: Esperto energetico - Ricercatore/tecnologo - Responsabile Centro di
Consulenza Energetica ENEA della Sicilia</p>
                   <!--<a class="btn btn-primary pull-left" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
                     </div>
                          <div class="service_photo col-sm-4 col-md-4">
                               <figure style="background-image:url(/assets/giuria/francesco_cappello.jpg)"></figure>

                          </div>
                     </div>
                </div>



    <div class="service_teaser">
        <div class="row">
          <div class="service_photo col-sm-4 col-md-4">
            <figure style="background-image:url(/assets/giuria/simona_colajanni.jpg)"></figure>
          </div>
          <div class="service_details col-sm-8 col-md-8 wow animated slideInRight">
          <h2 class="section_header skincolored"><b>Simona Colajanni</b><small>Ambiente | Energia</small></h2>
          <p>Prof.ssa Simona Colajanni : Architetto e Professore associato di Architettura all’Università di Palermo</p>

          <!--<a class="btn btn-primary pull-right" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
          </div>
          </div>
        </div>



          <div class="service_teaser right">
              <div class="row">
                <div class="service_details col-sm-8 col-md-8 wow animated slideInLeft">
                 <h2 class="section_header skincolored"><b>Antonino Valenza</b><small>Ambiente | Energia</small></h2>

            <p>Prof. Antonino Valenza: Professore ordinario dell’Università degli
studi di Palermo, Presidente del Corso di Laurea Magistrale in Ingegneria dei Sistemi Edilizi</p>
                  <!--<a class="btn btn-primary pull-left" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
                    </div>
                         <div class="service_photo col-sm-4 col-md-4">
                              <figure style="background-image:url(/assets/giuria/antonino_valenza.jpg)"></figure>

                         </div>
                    </div>
               </div>



     <div class="service_teaser">
         <div class="row">
           <div class="service_photo col-sm-4 col-md-4">
             <figure style="background-image:url(/assets/giuria/marilena_maccora.png)"></figure>
           </div>
           <div class="service_details col-sm-8 col-md-8 wow animated slideInRight">
           <h2 class="section_header skincolored"><b>Marilena Maccora</b><small>Urbanistica | Mobilità</small></h2>
           <p>Ing. Marilena Maccora: Ingegnere; consigliere presso l’Ordine degli
Ingegneri di Messina</p>

           <!--<a class="btn btn-primary pull-right" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
           </div>
           </div>
         </div>



           <div class="service_teaser right">
               <div class="row">
                 <div class="service_details col-sm-8 col-md-8 wow animated slideInLeft">
                  <h2 class="section_header skincolored"><b>Giovanni Lazzari</b><small>Urbanistica | Mobilità</small></h2>

             <p>Arch. Giovanni Lazzari: Architetto e Presidente dell’Ordine degli
Architetti di Messina</p>
                   <!--<a class="btn btn-primary pull-left" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
                     </div>
                          <div class="service_photo col-sm-4 col-md-4">
                               <figure style="background-image:url(/assets/giuria/giovanni_lazzari.png)"></figure>

                          </div>
                     </div>
                </div>



      <div class="service_teaser">
          <div class="row">
            <div class="service_photo col-sm-4 col-md-4">
              <figure style="background-image:url(/assets/giuria/nicola_mondello.jpg)"></figure>
            </div>
            <div class="service_details col-sm-8 col-md-8 wow animated slideInRight">
            <h2 class="section_header skincolored"><b>Nicola Mondello</b><small>IoT | Mobile e WebApps</small></h2>
            <p>Ing. Nicola Mondello: Ingegnere presso Centro Ricerca TIM</p>

            <!--<a class="btn btn-primary pull-right" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
            </div>
            </div>
          </div>



            <div class="service_teaser right">
                <div class="row">
                  <div class="service_details col-sm-8 col-md-8 wow animated slideInLeft">
                   <h2 class="section_header skincolored"><b>Giovanna Marino</b><small>IoT | Mobile e WebApps</small></h2>

              <p>Prof.ssa Giovanna Marino: Docente di informatica presso l’ITIS “E.Torricelli” di Sant’Agata di Militello</p>
                    <!--<a class="btn btn-primary pull-left" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
                      </div>
                           <div class="service_photo col-sm-4 col-md-4">
                                <figure style="background-image:url(/assets/giuria/giovanna_marino.jpg)"></figure>

                           </div>
                      </div>
                 </div>



       <div class="service_teaser">
           <div class="row">
             <div class="service_photo col-sm-4 col-md-4">
               <figure style="background-image:url(/assets/giuria/francesco_pira.jpg)"></figure>
             </div>
             <div class="service_details col-sm-8 col-md-8 wow animated slideInRight">
             <h2 class="section_header skincolored"><b>Francesco Pira</b><small>IoT | Mobile e WebApps</small></h2>
             <p>Ing. Francesco Pira : Web Developer, Co-Founder & CEO at Fileshute, Computer Engineering student</p>

             <!--<a class="btn btn-primary pull-right" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
             </div>
             </div>
           </div>



             <div class="service_teaser right">
                 <div class="row">
                   <div class="service_details col-sm-8 col-md-8 wow animated slideInLeft">
                    <h2 class="section_header skincolored"><b>Sara La Rosa</b><small>Government</small></h2>

               <p>Dott.ssa Sara La Rosa: Giornalista</p>
                     <!--<a class="btn btn-primary pull-left" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
                       </div>
                            <div class="service_photo col-sm-4 col-md-4">
                                 <figure style="background-image:url(/assets/giuria/sara_la_rosa.jpg)"></figure>

                            </div>
                       </div>
                  </div>

        <div class="service_teaser">
            <div class="row">
              <div class="service_photo col-sm-4 col-md-4">
                <figure style="background-image:url(/assets/giuria/salvatore_sidoti.png)"></figure>
              </div>
              <div class="service_details col-sm-8 col-md-8 wow animated slideInRight">
              <h2 class="section_header skincolored"><b>Salvatore Sidoti</b><small>Government</small></h2>
              <p>Dott. Salvatore Sidoti: Docente incaricato di Economia Aziendale
all’Università degli Studi di Messina</p>

              <!--<a class="btn btn-primary pull-right" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
              </div>
              </div>
            </div>



              <div class="service_teaser right">
                  <div class="row">
                    <div class="service_details col-sm-8 col-md-8 wow animated slideInLeft">
                     <h2 class="section_header skincolored"><b>Nino Galante</b><small>Government</small></h2>

                <p>Nino Galante: Fondatore di OpenPatti e Cofondatore di Open Data Sicilia</p>
                      <!--<a class="btn btn-primary pull-left" href="<#%=event_path(event)%>"><i class="fa fa-external-link"></i>&nbsp;Dettagli Evento</a>-->
                        </div>
                             <div class="service_photo col-sm-4 col-md-4">
                                  <figure style="background-image:url(/assets/giuria/nino_galante.jpg)"></figure>

                             </div>
                        </div>
                   </div>



  </div>
</section>
