<section class="hgroup">
  <div class="container">
    <h1>Le Idee della Prima Call For Proposal SmartGioiosa</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li class="active">Idee</li>
    </ul>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Idea</th>
          <th>Nome Team</th>
          <th>Categoria</th>
          <th>Punteggio</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Amunì</td>
          <td>Emiwoof</td>
          <td>Internet of Things / Mobile e Web Apps</td>
          <td>134</td>
        </tr>

        <tr>
          <td>NONNI 3.0: DAL LIBRO DI FIABE ALL'EBOOK</td>
          <td>Millecolori Team</td>
          <td>People / Living</td>
          <td>128</td>
        </tr>

        <tr>
          <td>World Care, il servizio igienico connesso alla rete con produzione acque interna e gestione delle risorse energetiche.</td>
          <td>World Care Team</td>
          <td>Internet of Things / Mobile e Web Apps</td>
          <td>120</td>
        </tr>


        <tr>
          <td>Costa Gioiosa: la rete nel mare del sapore.</td>
          <td>J(F)^2</td>
          <td>People / Living</td>
          <td>120</td>
        </tr>

        <tr>
          <td>LavaCleanTech</td>
          <td>EtnaGigAnte</td>
          <td>Energia / Ambiente</td>
          <td>117</td>
        </tr>


        <tr>
          <td>Green Safety Cover PV Panel</td>
          <td>Safety Environmental Engineering</td>
          <td>Energia / Ambiente</td>
          <td>117</td>
        </tr>

        <tr>
          <td>NORI biotechnology</td>
          <td>NORI</td>
          <td>Energia / Ambiente</td>
          <td>115</td>
        </tr>

        <tr>
          <td>Mobismart per i Nebrodi</td>
          <td>MOBISMART</td>
          <td>Governement</td>
          <td>107</td>
        </tr>

        <tr>
          <td>Acqua Pura</td>
          <td>Infoservice</td>
          <td>Energia / Ambiente</td>
          <td>105</td>
        </tr>

        <tr>
          <td>Pontile Nettuno 2.0</td>
          <td>3R</td>
          <td>People / Living</td>
          <td>102</td>
        </tr>




      </tbody>
    </table>
    </div>
</div>
</section>
<section>
  <div class="container">
    <hr>
    <div class="row">
      <h3>Metodo assegnazione punteggi</h3>
      <p></p>
    </div>
  </div>
</section>
