<section class="hgroup">
  <div class="container">
    <h1>Le Idee della Prima Call For Proposal SmartGioiosa</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li class="active">Idee</li>
    </ul>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Idea</th>
          <th>Nome Team</th>
          <th>Categoria</th>
          <th>Punteggio</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Amunì</td>
          <td>Emiwoof</td>
          <td>Internet of Things / Mobile e Web Apps</td>
          <td>134</td>
        </tr>

        <tr>
          <td>NONNI 3.0: DAL LIBRO DI FIABE ALL'EBOOK</td>
          <td>Millecolori Team</td>
          <td>People / Living</td>
          <td>128</td>
        </tr>

        <tr>
          <td>World Care, il servizio igienico connesso alla rete con produzione acque interna e gestione delle risorse energetiche.</td>
          <td>World Care Team</td>
          <td>Internet of Things / Mobile e Web Apps</td>
          <td>120</td>
        </tr>


        <tr>
          <td>Costa Gioiosa: la rete nel mare del sapore.</td>
          <td>J(F)^2</td>
          <td>People / Living</td>
          <td>120</td>
        </tr>

        <tr>
          <td>LavaCleanTech</td>
          <td>EtnaGigAnte</td>
          <td>Energia / Ambiente</td>
          <td>117</td>
        </tr>


        <tr>
          <td>Green Safety Cover PV Panel</td>
          <td>Safety Environmental Engineering</td>
          <td>Energia / Ambiente</td>
          <td>117</td>
        </tr>

        <tr>
          <td>NORI biotechnology</td>
          <td>NORI</td>
          <td>Energia / Ambiente</td>
          <td>115</td>
        </tr>

        <tr>
          <td>Mobismart per i Nebrodi</td>
          <td>MOBISMART</td>
          <td>Governement</td>
          <td>107</td>
        </tr>

        <tr>
          <td>Acqua Pura</td>
          <td>Infoservice</td>
          <td>Energia / Ambiente</td>
          <td>105</td>
        </tr>

        <tr>
          <td>Pontile Nettuno 2.0</td>
          <td>3R</td>
          <td>People / Living</td>
          <td>102</td>
        </tr>




      </tbody>
    </table>
    </div>
</div>
</section>
<section>
  <div class="container">
    <hr>
    <div class="row">
      <h3>Criteri di valutazione</h3>
      <p>Ogni giurato ha assegnato un punteggio da 1 a 5  alle seguenti categorie di valutazione: </p>
      <ol>
        <li>Attinenza della proposta con la categoria prescelta</li>
        <li>Originalità della proposta</li>
        <li>Flessibilità d’uso e applicazione</li>
        <li>Fattibilità economica</li>
        <li>Impatto su territorio</li>
      </ol>
      <p>Il punteggio è stato calcolato utilizzando il criterio della media pesata.<br>
      Al giurato appartenente alla categoria di riferimento del progetto è stato assegnato un peso del 60%, mentre a tutti gli altri un peso del 40%</p>
      <p>E’ stato inoltre richiesto di rispondere alla seguente domanda:<br>
      Ritiene che la proposta sia valida per ricevere assistenza per la 	ricerca di fondi necessari per la realizzazione del progetto? 	(specificare una percentuale da 0 a 100)</p>
      <p>
      Qui è stato attribuito un punto al raggiungimento del 20%, ad esempio:
      <ul>
      <li>20% = 1</li>
      <li>50% = 2,5</li>
      <li>100% = 5</li>
      </ul>
      Anche in questo caso è valso il calcolo del punteggio totale con il criterio della media pesata.
      </p>
      <p>
        Il massimo punteggio raggiungibile da ogni singolo progetto è risultato dunque essere di: <b>186 PUNTI</b><br>
        Si è scelto il raggiungimento della soglia minima di 130 PUNTI per la premiazione di una proposta, che corrisponde al 70% del punteggio totale.
      </p>
      
    </div>
  </div>
</section>
