<section class="hgroup">
  <div class="container">
    <h1>Prima Call For Proposal SmartGioiosa</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
    </ul>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div id="leftcol" class="col-sm-12 col-md-12">
        <article class="post">
          <div class="post_content">
            <p><img alt="" src="/uploads/ckeditor/pictures/4/content_CFP-Smart-Gioiosa-1.jpg" style="width: 800px; height: 450px;" /></p>

            <p><em>Il team Emiwoof con il progetto &ldquo;Amun&igrave;&rdquo; ha vinto la prima Call for Proposals dell&rsquo;Associazione &ldquo;Smart Gioiosa&rdquo;.</em></p>

            <p>&ldquo;Si tratta di un&rsquo;idea di valorizzazione del territorio dei Nebrodi &ndash; spiega Noemi Lattanzio, team leader di Emiwoof &ndash; attraverso l&rsquo;utilizzo di un&rsquo;applicazione mobile che, curata nel design e nei contenuti, possa creare nuove relazioni tra utente-utente e utente-territorio, consentendo la conoscenza delle risorse ambientali, culturali e gastronomiche del luogo e proponendo nuovi itinerari da esplorare e condividere&rdquo;.</p>

            <p><img alt="" src="/uploads/ckeditor/pictures/3/content_CFP-Smart-Gioiosa-2.jpg" style="width: 800px; height: 603px;" /><br />
            Sono stati 11 i progetti valutati dalla giuria tecnica presieduta dall&rsquo;ing. Francesco Cappello, esperto energetico e responsabile del Centro di Consulenza Energetica ENEA della Sicilia. Tutte idee innovative per l&rsquo;implementazione di smart cities nel territorio dei Nebrodi che sono giunte da parte di studenti, imprenditori e professionisti pronti a scommettere sul proprio progetto per migliorare la vivibilit&agrave; delle comunit&agrave;. Oltre ad &ldquo;Amun&igrave;&rdquo;, riconoscimento anche per Michele Valentino Trischitta, alunno della II B della Scuola Secondaria di I grado di Gliaca di Piraino dell&rsquo;Istituto Comprensivo &ldquo;Annarita Sidoti&rdquo;, che ha presentato un progetto sul riciclo dei rifiuti a scuola, &ldquo;Riciclando&hellip; si impara&rdquo;, vincendo il primo premio per la categoria &ldquo;Smart School&rdquo;.<br />
            Nel corso della serata conclusiva della Call for Proposals, attraverso una scenetta dal vivo realizzata dal gioiosano Giulio Russo, &egrave; stata presentata la versione alfa di &ldquo;Ttatt&agrave;&rdquo;, Applicazione Smart City per la geolocalizzazione delle tipicit&agrave; locali.<br />
            Il Presidente della giuria, ing. Francesco Cappello ha avuto parole di elogio per l&rsquo;iniziativa &ldquo;unica nel suo genere in un territorio che ha tanto da dare. Ci sono tutte le condizioni per farla crescere e farla diventare importante: &egrave; senz&rsquo;altro una manifestazione su cui puntare. &Egrave; stato difficile valutare i progetti presentati, tutti interessanti ma che dovevano anche essere realizzabili. Ma gi&agrave; aver stimolato menti di studenti e professionisti a presentare idee innovative &egrave; un risultato da apprezzare&rdquo;.&nbsp;</p>

            <p>&nbsp;</p>

            <p><img alt="" src="/uploads/ckeditor/pictures/2/content_CFP-Smart-Gioiosa-3.jpg" style="width: 760px; height: 800px;" /><br />
            Presente alla serata conclusiva anche il Direttore dell&rsquo;Agenzia Nazionale Giovani, Giacomo D&rsquo;Arrigo, che ha voluto esprimere un plauso per l&rsquo;iniziativa a dimostrazione che &ldquo;oggi il capitale umano sta nei piccoli comuni, non solo nelle grandi citt&agrave; o nei poli universitari. Queste iniziative meritano di essere valorizzate perch&eacute; riescono mettere in mostra grandi idee e grandi capacit&agrave;&rdquo;.<br />
            Il Presidente dell&rsquo;Associazione &ldquo;Smart Gioiosa&rdquo;, Nino Scaffidi Chiarello ha mostrato &ldquo;grande soddisfazione per il risultato raggiunto. Undici progetti di grande qualit&agrave;, uno dei quali inviato da Milano, dimostrano la qualit&agrave; del lavoro di promozione fatta e invogliano a proseguire sulla strada tracciata. I Nebrodi hanno bisogno di idee smart e noi abbiamo dimostrato che queste idee ci sono. Basta tirarle fuori e soprattutto concretizzarle con l&rsquo;obiettivo della crescita di tutta una comunit&agrave;&rdquo;.</p>

            </div>
        </article>



      </div>


    </div>
  </div>
</section>
