<!-- Start Footer Section -->
<footer>
  <div class="bg-footer-top">
    <div class="container">
      <div class="row">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="footer-widgets">
                <div class="widgets-title">
                  <h3>Chi Siamo</h3>
                </div><!-- .widgets-title -->
                <div class="widgets-content">
                  <p>Ambiente virtuale di condivisione di idee per dare una svolta intelligente al territorio dei Nebrodi e diffondere l’idea di smart city</p>
                </div><!-- .widgets-content -->
                <div class="address-box">
                  <ul class="address">
                    <li>
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <span>Zona Industriale - 98060 Piraino (ME)</span>
                    </li>
                    <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                      <span>+39 0941562712</span>
                    </li>
                    <li>
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <span>info@smartgioiosa.it</span>

                    </li>
                  </ul>
                </div><!-- .address -->
              </div><!-- .footer-widgets -->
            </div><!-- .col-md-3 -->
            <div class="col-md-4 col-sm-6">
              <div class="footer-widgets">
                <div class="widgets-title">
                  <h3>Ultime dal blog</h3>
                </div><!-- .widgets-title -->
                <ul class="latest-news">
                  <%Post.pubblished.last(3).reverse.each do |post|%>
                  <li>
                    <span class="thumbnail-img">
                      <%=image_tag post.image_preview.url(:small_thumb), class:"img-responsive"%>
                    </span>
                    <div class="thumbnail-content">
                      <h5>
                        <%= link_to post.title, post_path(post)%>
</h5>
                      <span class="post-date"><%=post.created_at.strftime("%d %b %Y")%></span>
                    </div><!-- .thumbnail-content -->
                  </li>
                  <%end%>

                </ul>
              </div><!-- .footer-widgets -->
            </div><!-- .col-md-3 -->
            <div class="col-md-4 col-sm-6">
              <div class="footer-widgets">
                <div class="widgets-title">
                  <h3>Seguici SU</h3>
                </div><!-- .widgets-title -->
                  <ul class="social-icon-rounded">
                    <li><a href="https://www.facebook.com/SmartGioiosa/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://it.linkedin.com/company/smart-gioiosa"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/smartgioiosa/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/116848179994267593028"><i class="fa fa-google" aria-hidden="true"></i></a></li>

                  </ul>

              </div><!-- .footer-widgets -->
            </div><!-- .col-md-3 -->
          </div><!-- .row -->
        </div><!-- .footer-top -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .bg-footer-top -->

  <div class="bg-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="footer-bottom">
          <div class="">
            <p class="text-center">&copy; Associazione Smart Gioiosa - Zona Industriale 98060 Piraino (ME) - CF/P.IVA: 03432210833 - All Rights Reserved  </p>
            <p class="text-center"><a href="//www.iubenda.com/privacy-policy/8161274" class="iubenda-nostyle iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            </p>
            </div><!-- .copyright-txt -->
        </div><!-- .footer-bottom -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .bg-footer-bottom -->

</footer>

<!-- End Footer Section -->
