  <div id="header">
      <div class="top">
        <!--
        <div class="search">
          <form role="form"> 
            <div class="form-group has-feedback">
              <input type="text" class="form-control input-sm" placeholder="Search.." />
              <i class="form-control-feedback fa fa-search"></i>
            </div>
          </form>
        </div>
        -->
        <a class="brand" href="#">
          <!--<span>VDV</span>-->
            <img src="assets/logo.jpg" class="img-responsive" />
        
        </a>
      </div>
    
      <%= render partial: "shared/top_menu"%>
    </div> <!--/header-->
