<div id="header">
  <div class="top">
  <a class="brand" href="/">
      <img src="/assets/logo.jpg" class="img-responsive" />
  
  </a>
</div>

<%= render partial: "shared/top_menu"%>
</div> <!--/header-->
