
      <nav class="navbar navbar-ada" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
              <ul class="dropdown-menu active">
                <li><a href="home-masonry.html">Masonry</a></li>
                <li><a href="home-featured-post.html">Featured post</a></li>
                <li><a href="home-sidebar.html">Sidebar</a></li>
                <li><a href="home-full-width.html">Full width</a></li>
                <li class="divider"></li>
                <li><a href="index.html">Landing page</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Posts <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="post-image.html">Post + Image</a></li>
                <li><a href="post-video.html">Post + Video</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="page-about.html">About</a></li>
                <li><a href="page-contact.html">Contact</a></li>
                <li><a href="page-404.html">404</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elements <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="doc-typography.html">Typography</a></li>
                <li><a href="doc-buttons.html">Buttons</a></li>
                <li><a href="doc-tables.html">Tables</a></li>
                <li><a href="doc-forms.html">Forms</a></li>
                <li><a href="doc-panels.html">Panels</a></li>
              </ul>
            </li>
            <li><a href="https://wrapbootstrap.com/theme/ada-personal-blog-template-WB0T99698" target="_blank">Buy it now</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    
 

