
<!-- Start About Greenforest Section -->
	<section class="bg-about-greenforest">
		<div class="container">
			<div class="row">
				<div class="about-greenforest">
					<div class="row">
						<div class="col-md-8">
							<div class="about-greenforest-content">
								<h2>Chi Siamo</h2>
								<p><span>Smart Gioiosa è un progetto nato nel 2015 con l’obiettivo di creare un ambiente virtuale di condivisione di idee da parte di tutti i soggetti che vogliono mettersi in gioco per dare una svolta intelligente, smart al proprio territorio.</span></p>
<p>Dal punto di vista pratico Smart Gioiosa si è articolato, in un primo momento, come blog <%=link_to 'www.smartgioiosa.it', root_path%> all’interno del quale ognuno può proporre delle idee e cercare di svilupparle per far crescere la propria comunità nei diversi ambiti: urbanistico, energetico, eno-gastronomico e turistico, culturale, ecc., in modo che ogni singola idea smart porti ad un miglioramento della vita comune.</p>
								<%= link_to 'Scopri di più', chi_siamo_path, class:"btn btn-default"%>
							</div><!-- .about-greenforest-content -->
						</div><!-- .col-md-8 -->
						<div class="col-md-4">
							<div class="about-greenforest-img">
								<img src="/assets/home02/about-greenforet-img.jpg" alt="about-greenforet-img" class="img-responsive" />
							</div><!-- .about-greenforest-img -->
						</div><!-- .col-md-4 -->
					</div>
				</div><!-- .about-greenforest -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- End About Greenforest Section -->
