
<!-- Start About Greenforest Section -->
	<section class="bg-about-greenforest">
		<div class="container">
			<div class="row">
				<div class="about-greenforest">
					<div class="row">
						<div class="col-md-8">
							<div class="about-greenforest-content">
								<h2>Chi Siamo</h2>
								<p><span>Globaly eenable turnkey aplcations interndent awesome andbenefisa tional awesome ascenarios exceptional scenarios awesome theme strategies.</span></p>
								<p>Globally eenable turnkey applications via interdependent awesome andbenefitsa theme are awesome Uniquely formulate impacful bandwidth with client centered creative ianitiatives Interively productivate vertcal paradigms before resource maximg convergence. Efciey diseminate mtidisciplinary mindshare after clientcentered creative theme experienvertcal paradigms before resource maximg convergence. Efciey diseminate mindshare clientcentered creative theme experiences.</p>
								<%= link_to 'Scopri di più', chi_siamo_path, class:"btn btn-default"%>
							</div><!-- .about-greenforest-content -->
						</div><!-- .col-md-8 -->
						<div class="col-md-4">
							<div class="about-greenforest-img">
								<img src="/assets/home02/about-greenforet-img.jpg" alt="about-greenforet-img" class="img-responsive" />
							</div><!-- .about-greenforest-img -->
						</div><!-- .col-md-4 -->
					</div>
				</div><!-- .about-greenforest -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- End About Greenforest Section -->
