<!-- Start Service Style2 Section -->


	<section class="bg-servicesstyle2-section">
		<div class="container">
			<div class="row">
				<div class="our-services-option">
					<div class="section-header">
						<h2>Cos'è una smart city</h2>
						<p>Una smart city è un’area urbana che crea sostenibilità economica, sviluppo e alta qualità della vita eccellendo in diversi ambiti</p>
					</div><!-- .section-header -->
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-people"></i>
									<div class="our-services-content">
										<h4><a>People | Living</a></h4>
										<p>Vivibilità e benessere<br> Attenzione alle persone e valorizzazione e tutela del patrimonio culturale</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-illumination"></i>
									<div class="our-services-content">
										<h4><a>Ambiente | Energia</a></h4>
										<p>Sostenibilità e tutela ambientale<br> Utilizzo efficiente delle fonti energetiche Risparmio energetico</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-car"></i>
									<div class="our-services-content">
										<h4><a>Urbanistica | Mobilità</a></h4>
										<p>Pianificazione urbanistica e progettazione architettonica<br> Mobilità intelligente</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-computer"></i>
									<div class="our-services-content">
										<h4><a> IoT | Mobile e Web Apps</a></h4>
										<p>
										Domotica, robotica e big data<br>
									Sviluppo di applicazioni per smartphone, tablet e pc  </p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-business"></i>
									<div class="our-services-content">
										<h4><a>Government</a></h4>
										<p>Rilancio dell'economia territoriale<br> Innovazione dei processi gestionali della Pubblica Amministrazione</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-book"></i>
									<div class="our-services-content">
										<h4><a>Smart School</a></h4>
										<p>Coinvolgimento e sensibilizzazione delle giovani generazioni alle tematiche legate al concetto di smart city</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->

					</div><!-- .row -->

				</div><!-- .our-services-option -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>


	<!-- End Service Style2 Section -->
