<!-- Start Service Style2 Section -->


	<section class="bg-servicesstyle2-section">
		<div class="container">
			<div class="row">
				<div class="our-services-option">
					<div class="section-header">
						<h2>Smart Cities e Smart People</h2>
						<p>Una Smart City si basa su sei assi fondamentali</p>
					</div><!-- .section-header -->
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-people"></i>
									<div class="our-services-content">
										<h4><a>People | Living</a></h4>
										<p>Vivibilità e benessere. Attenzione alle persone e al nuovo welfare. Valorizzazione e mantenimento del patrimonio culturale.</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-illumination"></i>
									<div class="our-services-content">
										<h4><a>ENVIRONMENT | ENERGY</a></h4>
										<p>Sostenibilità Ambientale. Utilizzo efficiente delle fonti energetiche disponibili. Energie rinnovabili e risparmio energetico.</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-car"></i>
									<div class="our-services-content">
										<h4><a>PLANNING | MOBILITY</a></h4>
										<p>Pianificazione Urbanistica e Progettazione Architettonica. Recupero urbano-architettonico-sociale. Mobilità intelligente.</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-computer"></i>
									<div class="our-services-content">
										<h4><a>IOT | MOBILE E WEB APPS</a></h4>
										<p>Sviluppo Internet of Things: domotica, robotica,...  Applicazioni per smartphone, table e pc.  </p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-business"></i>
									<div class="our-services-content">
										<h4><a>GOVERNMENT | ECONOMY</a></h4>
										<p>Rilancio dell'economia territoriale.  Organizzazione della governance urbana. Innovazione dei processi gestionali.</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="our-services-box">
								<div class="our-services-items">
									<i class="flaticon-book"></i>
									<div class="our-services-content">
										<h4><a>SMART EDUCATION</a></h4>
										<p>Idee giovani e innovative. Non esiste una smart city senza smart people. Il futuro è dei giovani!!!</p>
									</div><!-- .our-services-content -->
								</div><!-- .our-services-items -->
							</div><!-- .our-services-box -->
						</div><!-- .col-md-4 -->

					</div><!-- .row -->

				</div><!-- .our-services-option -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>


	<!-- End Service Style2 Section -->
