<!-- Start Recent Project Section -->


	<section class="bg-recent-project">
		<div class="container">
			<div class="row">
				<div class="recent-project">
					<div class="section-header">
						<h2>Progetti</h2>
						<p></p>
					</div><!-- .section-header -->

					<div class="portfolio-items">
						<div class="item cat-1" data-category="transition">
							<div class="item-inner">
								<div class="portfolio-img">
									<div class="overlay-project"></div><!-- .overlay-project -->
									<img src="/assets/call.jpg" alt="recent-project-img-1">
									<ul class="project-link-option">
										<li class="project-link"><a href="http://cfp.smartgioiosa.it"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- /.portfolio-img -->
								<div class="recent-project-content">
									<h4 class="text-capitalize"><a href="http://cfp.smartgioiosa.it">CFP smart gioiosa</a></h4>
								</div><!-- .latest-port-content -->
							</div><!-- .item-inner -->
						</div><!-- .items -->

						<div class="item cat-2 " data-category="metalloid">
							<div class="item-inner">
								<div class="portfolio-img">
									<div class="overlay-project"></div><!-- .overlay-project -->
									<img src="/assets/web-programming_t.jpg" alt="recent-project-img-2">
									<ul class="project-link-option">
										<li class="project-link"><a href="http://webprogramming.smartgioiosa.it"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- /.portfolio-img -->
								<div class="recent-project-content">
									<h4 class="text-capitalize"><a href="http://webprogramming.smartgioiosa.it">Corso base programmazione web</a></h4>
								</div><!-- .latest-port-content -->
							</div><!-- .item-inner -->
						</div><!-- .items -->

						<div class="item cat-3 " data-category="post-transition">
							<div class="item-inner">
								<div class="portfolio-img">
									<div class="overlay-project"></div><!-- .overlay-project -->
									<img src="/assets/PHOTO.jpg" alt="recent-project-img-3">
									<ul class="project-link-option">
										<li class="project-link"><a href="/contest-fotografico"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- /.portfolio-img -->
								<div class="recent-project-content">
									<h4 class="text-capitalize"><a href="/contest-fotografico">Photo smart contest</a></h4>
								</div><!-- .latest-port-content -->
							</div><!-- .item-inner -->
						</div><!-- .items -->


					</div><!-- .isotope-items -->
				</div><!-- .recent-project -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>


	<!-- End Recent Project Section -->
