<!-- Start our volunteers Section -->

	<section class="bg-volunteers-section">
		<div class="container">
			<div class="row">
				<div class="volunteers-option">
					<div class="section-header">
						<h2>Team</h2>
						<p>Giovani professionisti che mettono in campo le proprie competenze ed esperienze per promuovere una crescita intelligente delle comunità dei Nebrodi</p>
					</div><!-- .section-header -->
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="volunteers-items">
								<div class="volunteers-img">
									<a data-toggle="modal" data-target="#Antonino"><img src="/assets/Nino-smart.jpg" alt="volunteers-img-1" class="img-responsive" /></a>
								</div><!-- .volunteers-img -->
								<div class="volunteers-content">
									<h4><a data-toggle="modal" data-target="#Antonino">Antonino<br> Scaffidi Chiarello </a></h4>
									<p>Founder</p>
								</div><!-- .volunteers-content -->
								<div class="volunteers-social-icon">
									<ul class="social-icon">
					          <li><a href="https://www.facebook.com/antonino.scaffidichiarello"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
					          <li><a href="https://twitter.com/ScaffidiNino"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
					          <li><a href="https://github.com/AntoninoS"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
					          <li><a href="http://antoninoscaffidi.it"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
										<li><a href="https://www.linkedin.com/in/antonino-scaffidi-chiarello-112930127/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

									</ul>
								</div><!-- .volunteers-social-icon -->
							</div><!-- .volunteers-items -->
						</div><!-- .col-md-3 -->


						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="volunteers-items">
								<div class="volunteers-img">
									<a data-toggle="modal" data-target="#Verdiana"><img src="/assets/verdiana-smart.jpg" alt="volunteers-img-2" class="img-responsive" /></a>
								</div><!-- .volunteers-img -->
								<div class="volunteers-content">
									<h4><a data-toggle="modal" data-target="#Verdiana">Verdiana<br>Granata</a></h4>
									<p>Co-Founder</p>
								</div><!-- .volunteers-content -->
								<div class="volunteers-social-icon">
									<ul class="social-icon">
										<li><a href="https://www.facebook.com/verdianag"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
			            	<li><a href="https://it.linkedin.com/in/verdiana-granata-42801b49"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- .volunteers-social-icon -->
							</div><!-- .volunteers-items -->
						</div><!-- .col-md-3 -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="volunteers-items">
								<div class="volunteers-img">
									<a data-toggle="modal" data-target="#Marco"><img src="/assets/marco-smart.jpg" alt="volunteers-img-3" class="img-responsive" /></a>
								</div><!-- .volunteers-img -->
								<div class="volunteers-content">
									<h4><a data-toggle="modal" data-target="#Marco">Marco<br>Costantino</a></h4>
									<p>Team</p>
								</div><!-- .volunteers-content -->
								<div class="volunteers-social-icon">
									<ul class="social-icon">
										<li><a href="https://www.facebook.com/marco.cost"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="https://it.linkedin.com/in/marco-costantino-scirocco-1264a8b5"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- .volunteers-social-icon -->
							</div><!-- .volunteers-items -->
						</div><!-- .col-md-3 -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="volunteers-items">
								<div class="volunteers-img">
									<a data-toggle="modal" data-target="#Maria"><img src="/assets/maria-smart.jpg" alt="volunteers-img-2" class="img-responsive" /></a>
								</div><!-- .volunteers-img -->
								<div class="volunteers-content">
									<h4><a data-toggle="modal" data-target="#Maria">Maria<br> Molica Lazzaro</a></h4>
									<p>Team</p>
								</div><!-- .volunteers-content -->
								<div class="volunteers-social-icon">
									<ul class="social-icon">
										<li><a href="https://www.facebook.com/maria.m.lazzaro"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="https://it.linkedin.com/in/marco-costantino-scirocco-1264a8b5"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- .volunteers-social-icon -->
							</div><!-- .volunteers-items -->
						</div><!-- .col-md-3 -->
					</div><!-- .row -->
				</div><!-- .volume-option -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- End our volunteers Section -->
	<!-- Modal -->
<div class="modal fade" id="Antonino" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Antonino Scaffidi Chiarello</h4>
			</div>
			<div class="modal-body">
					<div class="thumbnail">
					<img src="/assets/Nino-smart.jpg" alt="volunteers-img-1" class="img-responsive" />
				</div>
				<h2>
						<span class="text-muted">Founder</span>
				</h2>
				<p>Sviluppatore web, esperto in Ruby - Ruby on Rails - SinatraRb - Redis- Fondatore della prima comunità siciliana di sviluppo web in Ruby on Rails <a href="http://www.sicilyonrails.org/">Sicly On Rails</a> - Titolare presso <a href="http://ascwebapps.com">AscWebApps</a> - Esperto in sviluppo di applicazioni web scalabili - Tutor, per 2 anni,del corso di Sistemi Informativi presso l'università degli studi di Catania.</p>

				<ul class="social-icon">
					<li><a href="https://www.facebook.com/antonino.scaffidichiarello"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
					<li><a href="https://twitter.com/ScaffidiNino"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
					<li><a href="https://github.com/AntoninoS"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
					<li><a href="http://antoninoscaffidi.it"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
				</ul>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="Verdiana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Verdiana Granata</h4>
			</div>
			<div class="modal-body">
					<div class="thumbnail">
					<img src="/assets/verdiana-smart.jpg" alt="volunteers-img-1" class="img-responsive" />
				</div>
				<h2>
						<span class="text-muted">Co-Founder</span>
				</h2>
				<p>
					Ingegnere industriale, laureatasi magistralmente in Ingegneria Energetica e Nucleare presso l’Università degli Studi di Bologna con una tesi sulla caratterizzazione di nanofluidi per l’utilizzo nei trasformatori di potenza, precedentemente consegue la laurea triennale in Ingegneria Energetica presso l’Università degli Studi di Palermo con una tesi sulle applicazioni industriali del recupero del freddo dalla rigassificazione del LNG. Esperta in gestione e progettazione di sistemi energetici avanzati.
				</p>
				<ul class="social-icon">
					<li><a href="https://www.facebook.com/verdianag"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
					<li><a href="https://it.linkedin.com/in/verdiana-granata-42801b49"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="Marco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Marco Costantino</h4>
			</div>
			<div class="modal-body">
					<div class="thumbnail">
					<img src="/assets/marco-smart.jpg" alt="volunteers-img-1" class="img-responsive" />
				</div>
				<h2>
						<span class="text-muted">Team</span>
				</h2>
				<p>
					INGEGNERE EDILE|ARCHITETTO abilitato ad entrambe le professioni e iscritto all’Ordine degli Ingegneri della Provincia di Messina; si è laureato con lode alla Scuola Politecnica di Palermo con un progetto di tesi per una Urban Farm ad Hanoi (Vietnam), nella quale ha potuto affrontare i temi sullo sviluppo sostenibile, sull’analisi delle energie rinnovabili, sui sistemi di riscaldamento e raffrescamento attivi/passivi e il calcolo del retrofit energetico.
Durante la sua formazione accademica ha partecipato a programmi come ERASMUS, presso l'Universidade de Evora (Portogallo), CONCORSI internazionali di progettazione e STAGE formativi all'estero, che gli hanno permesso di ampliare le conoscenze riguardo la Progettazione Architettonica/Urbanistica e lo Sviluppo Sostenibile e di applicarla nell’ambito lavorativo in questi ultimi anni.
Ha approfondito questo campo con un MASTER di II livello in “Materiali e Tecniche innovative per l’edilizia sostenibile”, acquisendo elevate competenze sulla progettazione di sistemi di climatizzazione ibridi, la progettazione di edifici a consumo zero, l’analisi dei flussi energetici, l’impiego di materiali e tecniche innovative, l’impiego di materiali rinnovabili e riciclabili, la valutazione del LCA, il retrofit, la micro-generazione diffusa e la certificazione energetica.
Attualmente sta migliorando la sua formazione con un MASTER di II livello in “BIM Manager” presso il Politecnico di Milano; ciò gli consentirà di approfondire la progettazione architettonica, impiantistica, energetica, strutturale, la gestione dei cantieri e la gestione degli edifici, altresì le pratiche legate agli aspetti ambientali dell'attività di costruzione di edifici e infrastrutture, verso una scelta consapevole di tecnologie e soluzioni sia nei nuovi edifici e infrastrutture, che nel recupero del patrimonio edilizio e infrastrutturale esistente.
Persona creativa ed innovativa che crede molto nel lavoro di gruppo come principio cardine per un cambiamento del nostro territorio e della nostra società.
				</p>

				<ul class="social-icon">
					<li><a href="https://www.facebook.com/marco.cost"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="https://www.linkedin.com/in/maria-molica-lazzaro-66724083/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="Maria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Maria Molica Lazzaro</h4>
			</div>
			<div class="modal-body">
					<div class="thumbnail">
					<img src="/assets/maria-smart.jpg" alt="volunteers-img-1" class="img-responsive" />
				</div>
				<h2>
						<span class="text-muted">Team</span>
				</h2>
				<p>
					Specializzata in marketing & comunicazione, sviluppo turistico, internazionalizzazione ed europrogettazione, nel 2007 consegue con lode la Laurea quinquennale in Scienze della Comunicazione presso l'Università degli Studi di Palermo con una tesi sperimentale sull'Internazionalizzazione delle Imprese redatta a conclusione di un percorso di stage presso il CIEM S.C.p.A. (Centro per l’Internazionalizzazione e la Promozione dell’Economia Euro-mediterranea) di Palermo, in cui ha collaborato alla realizzazione di un progetto d’internazionalizzazione e partecipato ad un corso di formazione per Esperti d’Internazionalizzazione. Nel 2008, consegue un Master in Relazioni Pubbliche Orientali, svolgendo uno stage presso la Regione Siciliana, all'interno del Servizio Internazionalizzazione, dove ha collaborato alla realizzazione dei Progetti Paese India e Russia. Nel 2013, consegue il Master in Europrogettazione, ottenendo l'iscrizione al Registro Europeo degli Europrogettisti (EUPF Register of Euro-Projects Designers and Managers, Euro Project Forum Foundation). Dal 2009, anno in cui ha fondato la "3 Service", si occupa di consulenza in marketing & comunicazione, sviluppo turistico, internazionalizzazione ed europrogettazione per enti privati e Pubbliche Amministrazioni.
				</p>

				<ul class="social-icon">
					<li><a href="https://www.facebook.com/maria.m.lazzaro"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				</ul>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
