<!-- Start Testimonial Section -->

	<section class="bg-testimonial-section">
		<div class="testimonial-overlay">
			<div class="container">
				<div class="row">
					<div class="testimonial-option">
						<div class="section-header">
							<h2>Dicono di Noi</h2>
						</div><!-- .section-header -->
						<div class="testimonial-container">
							<div class="swiper-wrapper">




								<div class="swiper-slide">
									<div class="testimonial-content">
										<p>I membri dell'Associazione Smart Gioiosa hanno dato lustro al territorio e a Gioiosa Marea con un'iniziativa unica nel suo genere che mi auguro continui e cresca negli anni.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/giuria/francesco_cappello.jpg" alt="Ing. Francesco Cappello" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>Ing. Francesco Cappello</h4>
											<h6>Responsabile Centro Energetico ENEA Sicilia</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->


								<div class="swiper-slide">
									<div class="testimonial-content">
										<p>Iniziative come la CFP Smart Gioiosa sono più che apprezzate da Agenzia Nazionale Giovani, perchè danno la possibilità a ragazzi e ragazze di mettersi in gioco con le proprie idee.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/giacomo_darrigo.jpg" alt="Dott. Giacomo D'Arrigo<" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>Dott. Giacomo D'Arrigo</h4>
											<h6>Direttore Generale Agenzia Nazionale Giovani</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->



								<div class="swiper-slide">
									<div class="testimonial-content">
										<p> Stima reciproca, passione, competenza e tanta professionalità A questo gruppo giovane ed entusiasta non mancano gli ingredienti base per il successo.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/nicola_mondello.jpg" alt="Ing. Nicola Mondello" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>Ing. Nicola Mondello</h4>
											<h6>Ingegnere  Centro Innovazione TIM</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->


								<div class="swiper-slide">
									<div class="testimonial-content">
										<p> La responsabilità di condividere processi innovativi è una bella sfida su cui il nostro territorio ancora non aveva puntato ed è ciò che l'Europa ci sta chiedendo. Da queste importanti attività dobbiamo cogliere i semi, innaffiarli e farli diventare piante rigogliose.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/giuseppe-antoci.jpg" alt="Giuseppe Antoci" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>Dott. Giuseppe Antoci</h4>
											<h6>Presidente Parco dei Nebrodi</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
                </div><!-- .swiper-slide -->



                	<div class="swiper-slide">
									<div class="testimonial-content">
										<p> Siete straordinari e avete portato ,con la vostra iniziativa,un vento nuovo che spira e sussurra "la primavera dei giovani darà dei frutti".</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/tindaro-lembo.jpg" alt="Tindaro Lembo" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>Padre Tindaro Lembo</h4>
											<h6>Sacerdote parrocchia di San Leonardo di Gioiosa Marea</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->




							</div><!-- .swiper-wrapper -->

						</div><!-- .testmonial-container -->
					</div><!-- .testimonial-option -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .testimonial-overlay -->
	</section>

	<!-- End Testimonial Section -->
