<!-- Start Testimonial Section -->

	<section class="bg-testimonial-section">
		<div class="testimonial-overlay">
			<div class="container">
				<div class="row">
					<div class="testimonial-option">
						<div class="section-header">
							<h2>Dicono di Noi</h2>
							<p>Professionally mesh enterprise wide imperatives without world class paradigms.Dynamically deliver ubiquitous leadership awesome skills.</p>
						</div><!-- .section-header -->
						<div class="testimonial-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="testimonial-content">
										<p>Motnectaly dseminate equity that invested users Conventliy actualize and sustainable aplccations Enthusiastically what innovate opensource awesome theme for scenarios.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/home01/testimonial-author-img-1.jpg" alt="testimonial-author-img-1" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>janaton Smith</h4>
											<h6>UI/UX Designer</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->
								<div class="swiper-slide">
									<div class="testimonial-content">
										<p>Motnectaly dseminate equity that invested users Conventliy actualize and sustainable aplccations Enthusiastically what innovate opensource awesome theme for scenarios.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/home01/testimonial-author-img-2.jpg" alt="testimonial-author-img-2" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>janaton Smith</h4>
											<h6>UI/UX Designer</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->
								<div class="swiper-slide">
									<div class="testimonial-content">
										<p>Motnectaly dseminate equity that invested users Conventliy actualize and sustainable aplccations Enthusiastically what innovate opensource awesome theme for scenarios.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/home01/testimonial-author-img-3.jpg" alt="testimonial-author-img-3" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>janaton Smith</h4>
											<h6>UI/UX Designer</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->
								<div class="swiper-slide">
									<div class="testimonial-content">
										<p>Motnectaly dseminate equity that invested users Conventliy actualize and sustainable aplccations Enthusiastically what innovate opensource awesome theme for scenarios.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/home01/testimonial-author-img-1.jpg" alt="testimonial-author-img-1" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>janaton Smith</h4>
											<h6>UI/UX Designer</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->
								<div class="swiper-slide">
									<div class="testimonial-content">
										<p>Motnectaly dseminate equity that invested users Conventliy actualize and sustainable aplccations Enthusiastically what innovate opensource awesome theme for scenarios.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/home01/testimonial-author-img-2.jpg" alt="testimonial-author-img-2" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>janaton Smith</h4>
											<h6>UI/UX Designer</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->
								<div class="swiper-slide">
									<div class="testimonial-content">
										<p>Motnectaly dseminate equity that invested users Conventliy actualize and sustainable aplccations Enthusiastically what innovate opensource awesome theme for scenarios.</p>
									</div><!-- .testimonial-content -->
									<div class="author-details">
										<div class="author-img">
											<img src="/assets/home01/testimonial-author-img-3.jpg" alt="testimonial-author-img-3" />
										</div><!-- .author-img -->
										<div class="author-name">
											<h4>janaton Smith</h4>
											<h6>UI/UX Designer</h6>
										</div><!-- .author-img -->
									</div><!-- .author-details -->
								</div><!-- .swiper-slide -->

							</div><!-- .swiper-wrapper -->

						</div><!-- .testmonial-container -->
						<div class="swiper-pagination"></div>
					</div><!-- .testimonial-option -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .testimonial-overlay -->
	</section>

	<!-- End Testimonial Section -->
