<div id="posts" class="container">


  <%@projects.each do |project|%>
     <section class="col-md-4 wow fadeIn">
       <div class="post">
         <div class="media">
           <%unless project.image_preview.blank?%>
            <%= image_tag project.image_preview.url(:thumb2), class:"img-responsive"  %>
           <%end%>
         </div>
         <div class="caption text-center">
           <%= link_to project.title, project_path(project), class:"post-title"%>
           <span class="post-date"><%=project.created_at.strftime("%d %b %Y")%></span>
         </div>
       </div>
     </section>
     <%end%>


     <!--<div class="col-md-12">
       <div class="text-center">
         <a href="#" class="btn btn-ada-light load-more">Older posts</a>
       </div>
     </div>-->

   </div>
