<div id="posts" class="container">


  <%@projects.each do |project|%>
     <section class="col-md-4 wow fadeIn">
       <div class="post">
         <div class="media">
           <%unless project.image_preview.blank?%>
            <%= link_to image_tag(project.image_preview.url(:thumb2), class:"img-responsive"), project_path(project)  %>
           <%end%>
         </div>
         <div class="caption text-center">
           <%= link_to project.title, project_path(project), class:"post-title"%>
           <span class="post-date"><%=project.created_at.strftime("%d %b %Y")%></span>
         </div>
       </div>
     </section>
     <%end%>



   </div>
