
<div id="posts" class="container">
<hr class="featurette-divider">
<div class="featurette" id="about">
            <img class="featurette-image img-thumbnail img-responsive pull-right" src="/assets/Nino-smart.jpg">
            <h2 class="featurette-heading">Antonino Scaffidi Chiarello <br>
                <span class="text-muted">Founder</span>
            </h2>
            <p class="lead">Sviluppatore web, esperto in Ruby - Ruby on Rails - SinatraRb - Redis- Fondatore della prima comunità siciliana di sviluppo web in Ruby on Rails <a href="http://www.sicilyonrails.org/">Sicly On Rails</a> - Titolare presso <a href="http://ascwebapps.com">AscWebApps</a> - Esperto in sviluppo di applicazioni web scalabili - Tutor, per 2 anni,del corso di Sistemi Informativi presso l'università degli studi di Catania</p>
        
          <a href="https://www.facebook.com/antonino.scaffidichiarello">Facebook</a><br>
          <a href="https://twitter.com/ScaffidiNino">Twitter</a><br>
          <a href="https://github.com/AntoninoS">GitHub</a><br>
          <a href="http://antoninoscaffidi.it">Web</a>
        
        </div>
    
        <hr class="featurette-divider">


       <div class="featurette" id="services">
            <img class="featurette-image img-thumbnail img-responsive pull-left" src="/assets/verdiana-smart.jpg">
            <h2 class="featurette-heading">Verdiana Granata <br>
                <span class="text-muted"> Co-Founder</span>
            </h2>
            <p class="lead"> Ingegnere industriale, laureatasi magistralmente in Ingegneria Energetica e Nucleare presso l’Università degli Studi di Bologna con una tesi sulla caratterizzazione di nanofluidi per l’utilizzo nei trasformatori di potenza, precedentemente consegue la laurea triennale in Ingegneria Energetica presso l’Università degli Studi di Palermo con una tesi sulle applicazioni industriali del recupero del freddo dalla rigassificazione del LNG. Esperta in gestione e progettazione di sistemi energetici avanzati.</p> 
              <a href="https://www.facebook.com/verdianag">Facebook</a><br>
              <a href="https://it.linkedin.com/in/verdiana-granata-42801b49">LinkedIn</a>
        </div>
    
  
        <hr class="featurette-divider">

       <div class="featurette" id="services">
            <img class="featurette-image img-thumbnail img-responsive pull-right" src="/assets/marco-smart.jpg">
            <h2 class="featurette-heading">Marco Costantino <br>
                <span class="text-muted"> </span>
            </h2>
            <p class="lead"> "Ingegnere Edile|Architetto laureatosi con lode alla Scuola Politecnica di Palermo con un progetto di tesi per una Urban Farm ad Hanoi (Vietnam), nella quale ha potuto affrontare i temi sullo sviluppo sostenibile, sull’analisi delle energie rinnovabili, sui sistemi di raffrescamento attivi/passivi e il calcolo del retrofit energetico.
Attualmente sta approfondendo questo campo con un Master di II livello in “Materiali e Tecniche innovative per l’edilizia sostenibile” acquisendo elevate competenze per quanto attiene: la progettazione di sistemi di climatizzazione ibridi, la progettazione di edifici a consumo zero, l’analisi dei flussi energetici, l’impiego di materiali e tecniche innovative, l’impiego di materiali rinnovabili e riciclabili, la valutazione del LCA, il retrofit, la micro-generazione diffusa e la certificazione energetica."</p>
            
              
              <a href="https://www.facebook.com/marco.cost">Facebook</a><br>
              <a href="https://it.linkedin.com/in/marco-costantino-scirocco-1264a8b5">LinkedIn</a>
            
          
        </div>


        <hr class="featurette-divider">


       <div class="featurette" id="services">
            <img class="featurette-image img-thumbnail img-responsive pull-left" src="/assets/roberta-smart.jpg">
            <h2 class="featurette-heading">Roberta Fonti <br>
                <span class="text-muted"></span>
            </h2>
            <p class="lead"> Giornalista iscritta all'Ordine nazionale, elenco professionisti, da marzo 2015, dopo aver conseguito nel 2007 il tesserino da pubblicista. "Artigiana" della professione giornalistica, che svolge da più di un decennio, per aver acquisito l’esperienza e gli insegnamenti direttamente “sul campo” e perfezionati con una specifica formazione accademica. Nel 2007 consegue la laurea triennale in Tecnologie dell'istruzione e della comunicazione all’Università di Messina con una tesi sul giornalismo online e il citizen journalism; successivamente, nel 2015, si laurea con una specialistica in Editoria, media e giornalismo all'Università degli studi "Carlo Bo" di Urbino con una tesi sul ruolo dell'informazione locale nella lotta alla mafia. Ha una formazione e una esperienza “multimediale”: tv, radio, carta stampata, web e social network. Ha realizzato articoli, notiziari, approfondimenti, interviste, reportage, programmi e rubriche anche di respiro nazionale e internazionale. Attiva nel settore delle politiche giovanili in ambito europeo, ha partecipato a numerosi scambi internazionali e workshop su temi economico-sociali-istituzionali, in Italia e all’estero. Da queste esperienze nasce l'interesse per la progettazione europea culminato con il conseguimento di un master in Europrogettazione e la partecipazione a call e bandi regionali, nazionali ed europei sui temi: gioventù, inclusione sociale, cittadinanza attiva, informazione, sviluppo, valorizzazione e promozione del territorio, cultura, turismo, ambiente, 
​tradizioni popolari. Da sempre impegnata nel sociale, è stata anche componente e portavoce della Consulta per le politiche giovanili del Comune di Gioiosa Marea dal 2007 al 2012 e presiede da alcuni anni l’associazione culturale La Spiga con cui ha avviato un percorso di recupero e valorizzazione delle tradizioni e dei territori rurali dei Nebrodi. </p> 
              <a href="https://www.facebook.com/fonti.roberta">Facebook</a>
        </div>
    


        <hr class="featurette-divider">

       <div class="featurette" id="services">
            <img class="featurette-image img-thumbnail img-responsive pull-right" src="/assets/maria-smart.jpg">
            <h2 class="featurette-heading">Maria Molica Lazzaro<br>
                <span class="text-muted"> </span>
            </h2>
           <p class="lead">
          Specializzata in marketing & comunicazione, sviluppo turistico, internazionalizzazione ed europrogettazione, nel 2007 consegue con lode la Laurea quinquennale in Scienze della Comunicazione presso l'Università degli Studi di Palermo con una tesi sperimentale sull'Internazionalizzazione delle Imprese redatta a conclusione di un percorso di stage presso il CIEM S.C.p.A. (Centro per l’Internazionalizzazione e la Promozione dell’Economia Euro-mediterranea) di Palermo, in cui ha collaborato alla realizzazione di un progetto d’internazionalizzazione e partecipato ad un corso di formazione per Esperti d’Internazionalizzazione. Nel 2008, consegue un Master in Relazioni Pubbliche Orientali, svolgendo uno stage presso la Regione Siciliana, all'interno del Servizio Internazionalizzazione, dove ha collaborato alla realizzazione dei Progetti Paese India e Russia. Nel 2013, consegue il Master in Europrogettazione, ottenendo l'iscrizione al Registro Europeo degli Europrogettisti (EUPF Register of Euro-Projects Designers and Managers, Euro Project Forum Foundation). Dal 2009, anno in cui ha fondato la "3 Service", si occupa di consulenza in marketing & comunicazione, sviluppo turistico, internazionalizzazione ed europrogettazione per enti privati e Pubbliche Amministrazioni.
          </p> 
              
              <a href="https://www.facebook.com/maria.m.lazzaro">Facebook</a><br>
        
        </div>



</div>

