
<div id="posts" class="container">
<hr class="featurette-divider">
<div class="featurette" id="about">
            <img class="featurette-image  img-responsive pull-right" src="/assets/Nino-smart.jpg">
            <h2 class="featurette-heading">Antonino Scaffidi Chiarello <br>
                <span class="text-muted">Founder</span>
            </h2>
            <p class="lead">Sviluppatore web, esperto in Ruby - Ruby on Rails - SintraRb - Redis- Fondatore della prima comunità siciliana di sviluppo web in Ruby on Rails - Titolare presso <a href="http://ascwebapps.com">AscWebApps</a> - Esperto in sviluppo di applicazioni web scalabili - Tutor, per 2 anni,del corso di Sistemi Informativi presso l'università degli studi di Catania</p>
        
          <a href="https://www.facebook.com/antonino.scaffidichiarello">Facebook</a><br>
          <a href="https://twitter.com/ScaffidiNino">Twitter</a><br>
          <a href="https://github.com/AntoninoS">GitHub</a><br>
          <a href="http://antoninoscaffidi.it">Web</a>
        
        </div>
<hr class="featurette-divider">


       <div class="featurette" id="services">
            <img class="featurette-image img-responsive pull-left" src="/assets/verdiana.jpg">
            <h2 class="featurette-heading">Verdiana Granata <br>
                <span class="text-muted"> Co-Founder.</span>
            </h2>
            <p class="lead">Ingegnere industriale - Laurea magistrale in ingegneria energetica e nucleare - Esperta in gestione e progettazione di sistemi energetici avanzati</p>
            <ul>
              
              <a href="https://www.facebook.com/verdianag">Facebook</a>
            
            </ul>
        </div>








</div>

