<section class="hgroup centered">
<div class="container">
<h1>PHOTOSMARTCONTEST</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
    </ul>
</div>
</section>
<section>
  <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-12" role="main">
          <%=image_tag('/assets/copertina_evento', class:"img-responsive")%>
          <br>
          <p>PHOTOSMARTCONTEST2017<br />
          I CONCORSO FOTOGRAFICO<br />
          #terramare: scorci eoliani e nebroidei</p>

          <p>DATE<br />
          01/07/2017 - 17/08/2017</p>

          <p>TEMI PRINCIPALI<br />
          1_borghi/paesi (architettura);<br />
          2_tra cielo e terra (paesaggi e natura);<br />
          3_spazi da non perdere (luoghi abbandonati);<br />
          4_la terra dei colori (arte, tradizioni e sapori).</p>

          <p>PARTECIPAZIONE<br />
          1) Scatta una foto e pubblicala sui tuoi social (Facebook e/o Instagram) inserendo il numero del tema scelto (es. 1_borghi/paesi ecc&hellip;) e una breve descrizione dello scatto, taggando @smartgioiosa e inserendo hashtag #terramare&nbsp;<br />
          2) A partire dal 15 luglio, carica sul sito la foto che hai precedentemente pubblicato sui social</p>

          <p>PREMIAZIONE<br />
          Vinceranno gli autori dei 4 scatti (1 per categoria) giudicati dalla giuria popolare pi&ugrave; meritevoli e verranno assegnati i seguenti premi e riconoscimenti:<br />
          -&nbsp;&nbsp; &nbsp;targa di merito e stampa in carta fotografica dello scatto vincente;<br />
          -&nbsp;&nbsp; &nbsp;2 biglietti omaggio per l&rsquo;ingresso al Nebrodi Adventure Park di Longi</p>

          <p>Le votazioni inizieranno alle ore 00:00 del 01/08/17 e termineranno alle ore 23:59 del 17/08/2017.</p>

          <p>Per maggiori dettagli vai al <%= link_to 'Regolamento completo', '/assets/BANDO_PHOTOSMARTCONTEST.pdf', target:'_blank'%></p>

  </div>
</div>
</div>

</section>
