<p>Benvenuto <%= @email %>!</p>

<p>Puoi confermare l'email del tuo account tramite il link seguente:</p>

<p><%= link_to 'Conferma account Smart Gioiosa', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Associazione Smart Gioiosa</p>
