
<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha fatto richiesta per modificare la password. Lo puoi fare attraverso il link sotto.</p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai fatto nessuna richiesta ignora questa email.</p>
<p>La tua password non cambiera fino a qunado non accedi al link sopra per crearne una nuova.</p>

<p>Grazie</p>

<p>Associazione Smart Gioiosa</p>
