<nav class="navbar navbar-default" role="navigation">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">
        <img alt="Brand" src="/assets/img/favicon.ico">
      </a>-->
    </div>

   <!--<#%if Company.exists?%>-->
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li class="<%= 'active' if params[:controller] == 'admin/dashboard' %>"><%= link_to "DASHBOARD", admin_root_path %></li> 
       <li class="<%= 'active' if params[:controller] == 'admin/posts' %>"><%= link_to "POSTS", admin_posts_path %></li> 
      </ul>
   </div><!-- /.navbar-collapse -->
  
 </div><!-- /.container-fluid -->
  <div class="modal fade" id="modal"></div><!-- Modal window -->
</nav>
